/*
   ASPECT RATIOS
*/

/* This is for fluid media that is embedded from third party sites like youtube, vimeo etc.
 * Wrap the outer element in aspect-ratio and then extend it with the desired ratio i.e
 * Make sure there are no height and width attributes on the embedded media.
 * Adapted from: https://github.com/suitcss/components-flex-embed
 *
 * Example:
 *
 * <div class="aspectratio aspectratio-16x9">
 *  <iframe class="aspectratio-object"></iframe>
 * </div>
 *
 * */

.aspectratio-16x9 { aspect-ratio: 16 / 9; }
.aspectratio-9x16 { aspect-ratio: 9 / 16; }

.aspectratio-4x3 {  aspect-ratio: 4 / 3; }
.aspectratio-3x4 {  aspect-ratio: 3 / 4; }

.aspectratio-6x4 {  aspect-ratio: 6 / 4; }
.aspectratio-4x6 {  aspect-ratio: 4 / 6; }

.aspectratio-8x5 {  aspect-ratio: 8 / 5; }
.aspectratio-5x8 {  aspect-ratio: 5 / 8; }

.aspectratio-7x5 {  aspect-ratio: 7 / 5; }
.aspectratio-5x7 {  aspect-ratio: 5 / 7; }

.aspectratio-square, 
.aspectratio-1x1 {  aspect-ratio: 1 / 1; }

@media (--breakpoint-small) {

  .aspectratio-16x9-mediaS { aspect-ratio: 16 / 9; }
  .aspectratio-9x16-mediaS { aspect-ratio: 9 / 16; }

  .aspectratio-4x3-mediaS {  aspect-ratio: 4 / 3; }
  .aspectratio-3x4-mediaS {  aspect-ratio: 3 / 4; }

  .aspectratio-6x4-mediaS {  aspect-ratio: 6 / 4; }
  .aspectratio-4x6-mediaS {  aspect-ratio: 4 / 6; }

  .aspectratio-8x5-mediaS {  aspect-ratio: 8 / 5; }
  .aspectratio-5x8-mediaS {  aspect-ratio: 5 / 8; }

  .aspectratio-7x5-mediaS {  aspect-ratio: 7 / 5; }
  .aspectratio-5x7-mediaS {  aspect-ratio: 5 / 7; }

  .aspectratio-square-mediaS, 
  .aspectratio-1x1-mediaS {  aspect-ratio: 1 / 1; }
}
@media (--breakpoint-medium) {

  .aspectratio-16x9-mediaM { aspect-ratio: 16 / 9; }
  .aspectratio-9x16-mediaM { aspect-ratio: 9 / 16; }

  .aspectratio-4x3-mediaM {  aspect-ratio: 4 / 3; }
  .aspectratio-3x4-mediaM {  aspect-ratio: 3 / 4; }

  .aspectratio-6x4-mediaM {  aspect-ratio: 6 / 4; }
  .aspectratio-4x6-mediaM {  aspect-ratio: 4 / 6; }

  .aspectratio-8x5-mediaM {  aspect-ratio: 8 / 5; }
  .aspectratio-5x8-mediaM {  aspect-ratio: 5 / 8; }

  .aspectratio-7x5-mediaM {  aspect-ratio: 7 / 5; }
  .aspectratio-5x7-mediaM {  aspect-ratio: 5 / 7; }

  .aspectratio-square-mediaM, 
  .aspectratio-1x1-mediaM {  aspect-ratio: 1 / 1; }

}
@media (--breakpoint-large) {

  .aspectratio-16x9-mediaL { aspect-ratio: 16 / 9; }
  .aspectratio-9x16-mediaL { aspect-ratio: 9 / 16; }

  .aspectratio-4x3-mediaL {  aspect-ratio: 4 / 3; }
  .aspectratio-3x4-mediaL {  aspect-ratio: 3 / 4; }

  .aspectratio-6x4-mediaL {  aspect-ratio: 6 / 4; }
  .aspectratio-4x6-mediaL {  aspect-ratio: 4 / 6; }

  .aspectratio-8x5-mediaL {  aspect-ratio: 8 / 5; }
  .aspectratio-5x8-mediaL {  aspect-ratio: 5 / 8; }

  .aspectratio-7x5-mediaL {  aspect-ratio: 7 / 5; }
  .aspectratio-5x7-mediaL {  aspect-ratio: 5 / 7; }

  .aspectratio-square-mediaL, 
  .aspectratio-1x1-mediaL {  aspect-ratio: 1 / 1; }
  
}

@media (--breakpoint-xlarge) {

  .aspectratio-16x9-mediaXL { aspect-ratio: 16 / 9; }
  .aspectratio-9x16-mediaXL { aspect-ratio: 9 / 16; }

  .aspectratio-4x3-mediaXL {  aspect-ratio: 4 / 3; }
  .aspectratio-3x4-mediaXL {  aspect-ratio: 3 / 4; }

  .aspectratio-6x4-mediaXL {  aspect-ratio: 6 / 4; }
  .aspectratio-4x6-mediaXL {  aspect-ratio: 4 / 6; }

  .aspectratio-8x5-mediaXL {  aspect-ratio: 8 / 5; }
  .aspectratio-5x8-mediaXL {  aspect-ratio: 5 / 8; }

  .aspectratio-7x5-mediaXL {  aspect-ratio: 7 / 5; }
  .aspectratio-5x7-mediaXL {  aspect-ratio: 5 / 7; }

  .aspectratio-square-mediaXL, 
  .aspectratio-1x1-mediaXL {  aspect-ratio: 1 / 1; }
  
}
