/*

    BACKGROUND POSITION

 */

.backgroundrepeat-norepeat        {  background-repeat: no-repeat; }
.backgroundposition-centercenter  {  background-position: center center; }
.backgroundposition-topcenter     {  background-position: top center; }
.backgroundposition-centerright   { background-position: center right; }
.backgroundposition-bottomcenter  { background-position: bottom center; }
.backgroundposition-centerleft    { background-position: center left; }

@media (--breakpoint-small) {
  .backgroundrepeat-norepeat-mediaS        {  background-repeat: no-repeat; }
  .backgroundposition-centercenter-mediaS  {  background-position: center center; }
  .backgroundposition-topcenter-mediaS     {  background-position: top center; }
  .backgroundposition-centerright-mediaS   { background-position: center right; }
  .backgroundposition-bottomcenter-mediaS  { background-position: bottom center; }
  .backgroundposition-centerleft-mediaS    { background-position: center left; }
}

@media (--breakpoint-medium) {
  .backgroundrepeat-norepeat-mediaM        {  background-repeat: no-repeat; }
  .backgroundposition-centercenter-mediaM  {  background-position: center center; }
  .backgroundposition-topcenter-mediaM     {  background-position: top center; }
  .backgroundposition-centerright-mediaM   { background-position: center right; }
  .backgroundposition-bottomcenter-mediaM  { background-position: bottom center; }
  .backgroundposition-centerleft-mediaM    { background-position: center left; }
}

@media (--breakpoint-large) {
  .backgroundrepeat-norepeat-mediaL        {  background-repeat: no-repeat; }
  .backgroundposition-centercenter-mediaL  {  background-position: center center; }
  .backgroundposition-topcenter-mediaL     {  background-position: top center; }
  .backgroundposition-centerright-mediaL   { background-position: center right; }
  .backgroundposition-bottomcenter-mediaL  { background-position: bottom center; }
  .backgroundposition-centerleft-mediaL    { background-position: center left; }

}

@media (--breakpoint-xlarge) {
  .backgroundrepeat-norepeat-mediaXL        {  background-repeat: no-repeat; }
  .backgroundposition-centercenter-mediaXL  {  background-position: center center; }
  .backgroundposition-topcenter-mediaXL     {  background-position: top center; }
  .backgroundposition-centerright-mediaXL   { background-position: center right; }
  .backgroundposition-bottomcenter-mediaXL  { background-position: bottom center; }
  .backgroundposition-centerleft-mediaXL    { background-position: center left; }

}