/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

.borderwidth-0 { border-width: 0; }
.borderwidth-1 { border-width: .125rem; }
.borderwidth-2 { border-width: .25rem; }
.borderwidth-3 { border-width: .5rem; }
.borderwidth-4 { border-width: .75rem; }
.borderwidth-5 { border-width: 1rem; }

.bordertopwidth-0 { border-top-width: 0; }
.borderrightwidth-0 { border-right-width: 0; }
.borderbottomwidth-0 { border-bottom-width: 0; }
.borderleftwidth-0 { border-left-width: 0; }

@media (--breakpoint-not-small) {
  .borderwidth-0-ns { border-width: 0; }
  .borderwidth-1-ns { border-width: .125rem; }
  .borderwidth-2-ns { border-width: .25rem; }
  .borderwidth-3-ns { border-width: .5rem; }
  .borderwidth-4-ns { border-width: .75rem; }
  .borderwidth-5-ns { border-width: 1rem; }
  .bordertopwidth-0-ns { border-top-width: 0; }
  .borderrightwidth-0-ns { border-right-width: 0; }
  .borderbottomwidth-0-ns { border-bottom-width: 0; }
  .borderleftwidth-0-ns { border-left-width: 0; }
}

@media (--breakpoint-medium) {
  .borderwidth-0-m { border-width: 0; }
  .borderwidth-1-m { border-width: .125rem; }
  .borderwidth-2-m { border-width: .25rem; }
  .borderwidth-3-m { border-width: .5rem; }
  .borderwidth-4-m { border-width: .75rem; }
  .borderwidth-5-m { border-width: 1rem; }
  .bordertopwidth-0-m { border-top-width: 0; }
  .borderrightwidth-0-m { border-right-width: 0; }
  .borderbottomwidth-0-m { border-bottom-width: 0; }
  .borderleftwidth-0-m { border-left-width: 0; }
}

@media (--breakpoint-large) {
  .borderwidth-0-l { border-width: 0; }
  .borderwidth-1-l { border-width: .125rem; }
  .borderwidth-2-l { border-width: .25rem; }
  .borderwidth-3-l { border-width: .5rem; }
  .borderwidth-4-l { border-width: .75rem; }
  .borderwidth-5-l { border-width: 1rem; }
  .bordertopwidth-0-l { border-top-width: 0; }
  .borderrightwidth-0-l { border-right-width: 0; }
  .borderbottomwidth-0-l { border-bottom-width: 0; }
  .borderleftwidth-0-l { border-left-width: 0; }
}
