/*

   BORDER COLORS
   Docs: http://tachyons.io/docs/themes/borders/

   Border colors can be used to extend the base
   border classes border, border-top, border-bottom, border-right,
   border-left found in the _borders.css file.

   The base border class by default will set the color of the border
   to that of the current text color. These classes are for the cases
   where you desire for the text and border colors to be different.

   Modifiers:
   --color-name = each color variable name is also a border color name

*/

.bordercolor--color { border-color: var( --border-color, gray ); }
.bordercolor--light { border-color: var( --overlay-tint-2, gray ); }
.bordercolor--dark { border-color: var( --overlay-shadow-9, gray ); }
.bordercolor--transparent { border-color: transparent; }
.bordercolor--current { border-color: currentColor; }
.bordercolor--inherit { border-color: inherit; }
.bordercolor--initial { border-color: initial; }
.bordercolor--unset { border-color: unset; }

/*
   adding border colors back in
   ref: https://github.com/tachyons-css/tachyons/pull/705#discussion_r948671886
*/

.bordercolor-tint0 { border-color: var(--tint-0); }
.bordercolor-tint1 { border-color: var(--tint-1); }
.bordercolor-tint2 { border-color: var(--tint-2); }
.bordercolor-tint3 { border-color: var(--tint-3); }
.bordercolor-tint4 { border-color: var(--tint-4); }
.bordercolor-tint5 { border-color: var(--tint-5); }
.bordercolor-tint6 { border-color: var(--tint-6); }
.bordercolor-tint7 { border-color: var(--tint-7); }
.bordercolor-tint8 { border-color: var(--tint-8); }
.bordercolor-tint9 { border-color: var(--tint-9); }
.bordercolor-tint10 { border-color: var(--tint-10); }
.bordercolor-tint11 { border-color: var(--tint-11); }
.bordercolor-shadow0 { border-color: var(--shadow-0); }
.bordercolor-shadow1 { border-color: var(--shadow-1); }
.bordercolor-shadow2 { border-color: var(--shadow-2); }
.bordercolor-shadow3 { border-color: var(--shadow-3); }
.bordercolor-shadow4 { border-color: var(--shadow-4); }
.bordercolor-shadow5 { border-color: var(--shadow-5); }
.bordercolor-shadow6 { border-color: var(--shadow-6); }
.bordercolor-shadow7 { border-color: var(--shadow-7); }
.bordercolor-shadow8 { border-color: var(--shadow-8); }
.bordercolor-shadow9 { border-color: var(--shadow-9); }
.bordercolor-shadow10 { border-color: var(--shadow-10); }
.bordercolor-shadow11 { border-color: var(--shadow-11); }
.bordercolor-black,
.bordercolor-gray0 { border-color: var(--gray-0); }
.bordercolor-gray1 { border-color: var(--gray-1); }
.bordercolor-gray2 { border-color: var(--gray-2); }
.bordercolor-gray3 { border-color: var(--gray-3); }
.bordercolor-gray4 { border-color: var(--gray-4); }
.bordercolor-gray5 { border-color: var(--gray-5); }
.bordercolor-gray6 { border-color: var(--gray-6); }
.bordercolor-gray7 { border-color: var(--gray-7); }
.bordercolor-gray8 { border-color: var(--gray-8); }
.bordercolor-gray9 { border-color: var(--gray-9); }
.bordercolor-gray10 { border-color: var(--gray-10); }
.bordercolor-white,
.bordercolor-gray11 { border-color: var(--gray-11); }
.bordercolor-slategray0 { border-color: var(--slate-gray-0); }
.bordercolor-slategray1 { border-color: var(--slate-gray-1); }
.bordercolor-slategray2 { border-color: var(--slate-gray-2); }
.bordercolor-slategray3 { border-color: var(--slate-gray-3); }
.bordercolor-slategray4 { border-color: var(--slate-gray-4); }
.bordercolor-slategray5 { border-color: var(--slate-gray-5); }
.bordercolor-slategray6 { border-color: var(--slate-gray-6); }
.bordercolor-slategray7 { border-color: var(--slate-gray-7); }
.bordercolor-slategray8 { border-color: var(--slate-gray-8); }
.bordercolor-slategray9 { border-color: var(--slate-gray-9); }
.bordercolor-slategray10 { border-color: var(--slate-gray-10); }
.bordercolor-slategray11 { border-color: var(--slate-gray-11); }
.bordercolor-blue0 { border-color: var(--blue-0); }
.bordercolor-blue1 { border-color: var(--blue-1); }
.bordercolor-blue2 { border-color: var(--blue-2); }
.bordercolor-blue3 { border-color: var(--blue-3); }
.bordercolor-blue4 { border-color: var(--blue-4); }
.bordercolor-blue5 { border-color: var(--blue-5); }
.bordercolor-blue6 { border-color: var(--blue-6); }
.bordercolor-blue7 { border-color: var(--blue-7); }
.bordercolor-blue8 { border-color: var(--blue-8); }
.bordercolor-blue9 { border-color: var(--blue-9); }
.bordercolor-blue10 { border-color: var(--blue-10); }
.bordercolor-blue11 { border-color: var(--blue-11); }
.bordercolor-indigo0 { border-color: var(--indigo-0); }
.bordercolor-indigo1 { border-color: var(--indigo-1); }
.bordercolor-indigo2 { border-color: var(--indigo-2); }
.bordercolor-indigo3 { border-color: var(--indigo-3); }
.bordercolor-indigo4 { border-color: var(--indigo-4); }
.bordercolor-indigo5 { border-color: var(--indigo-5); }
.bordercolor-indigo6 { border-color: var(--indigo-6); }
.bordercolor-indigo7 { border-color: var(--indigo-7); }
.bordercolor-indigo8 { border-color: var(--indigo-8); }
.bordercolor-indigo9 { border-color: var(--indigo-9); }
.bordercolor-indigo10 { border-color: var(--indigo-10); }
.bordercolor-indigo11 { border-color: var(--indigo-11); }
.bordercolor-violet0 { border-color: var(--violet-0); }
.bordercolor-violet1 { border-color: var(--violet-1); }
.bordercolor-violet2 { border-color: var(--violet-2); }
.bordercolor-violet3 { border-color: var(--violet-3); }
.bordercolor-violet4 { border-color: var(--violet-4); }
.bordercolor-violet5 { border-color: var(--violet-5); }
.bordercolor-violet6 { border-color: var(--violet-6); }
.bordercolor-violet7 { border-color: var(--violet-7); }
.bordercolor-violet8 { border-color: var(--violet-8); }
.bordercolor-violet9 { border-color: var(--violet-9); }
.bordercolor-violet10 { border-color: var(--violet-10); }
.bordercolor-violet11 { border-color: var(--violet-11); }
.bordercolor-magenta0 { border-color: var(--magenta-0); }
.bordercolor-magenta1 { border-color: var(--magenta-1); }
.bordercolor-magenta2 { border-color: var(--magenta-2); }
.bordercolor-magenta3 { border-color: var(--magenta-3); }
.bordercolor-magenta4 { border-color: var(--magenta-4); }
.bordercolor-magenta5 { border-color: var(--magenta-5); }
.bordercolor-magenta6 { border-color: var(--magenta-6); }
.bordercolor-magenta7 { border-color: var(--magenta-7); }
.bordercolor-magenta8 { border-color: var(--magenta-8); }
.bordercolor-magenta9 { border-color: var(--magenta-9); }
.bordercolor-magenta10 { border-color: var(--magenta-10); }
.bordercolor-magenta11 { border-color: var(--magenta-11); }
.bordercolor-red0 { border-color: var(--red-0); }
.bordercolor-red1 { border-color: var(--red-1); }
.bordercolor-red2 { border-color: var(--red-2); }
.bordercolor-red3 { border-color: var(--red-3); }
.bordercolor-red4 { border-color: var(--red-4); }
.bordercolor-red5 { border-color: var(--red-5); }
.bordercolor-red6 { border-color: var(--red-6); }
.bordercolor-red7 { border-color: var(--red-7); }
.bordercolor-red8 { border-color: var(--red-8); }
.bordercolor-red9 { border-color: var(--red-9); }
.bordercolor-red10 { border-color: var(--red-10); }
.bordercolor-red11 { border-color: var(--red-11); }
.bordercolor-redorange0 { border-color: var(--red-orange-0); }
.bordercolor-redorange1 { border-color: var(--red-orange-1); }
.bordercolor-redorange2 { border-color: var(--red-orange-2); }
.bordercolor-redorange3 { border-color: var(--red-orange-3); }
.bordercolor-redorange4 { border-color: var(--red-orange-4); }
.bordercolor-redorange5 { border-color: var(--red-orange-5); }
.bordercolor-redorange6 { border-color: var(--red-orange-6); }
.bordercolor-redorange7 { border-color: var(--red-orange-7); }
.bordercolor-redorange8 { border-color: var(--red-orange-8); }
.bordercolor-redorange9 { border-color: var(--red-orange-9); }
.bordercolor-redorange10 { border-color: var(--red-orange-10); }
.bordercolor-redorange11 { border-color: var(--red-orange-11); }
.bordercolor-orange0 { border-color: var(--orange-0); }
.bordercolor-orange1 { border-color: var(--orange-1); }
.bordercolor-orange2 { border-color: var(--orange-2); }
.bordercolor-orange3 { border-color: var(--orange-3); }
.bordercolor-orange4 { border-color: var(--orange-4); }
.bordercolor-orange5 { border-color: var(--orange-5); }
.bordercolor-orange6 { border-color: var(--orange-6); }
.bordercolor-orange7 { border-color: var(--orange-7); }
.bordercolor-orange8 { border-color: var(--orange-8); }
.bordercolor-orange9 { border-color: var(--orange-9); }
.bordercolor-orange10 { border-color: var(--orange-10); }
.bordercolor-orange11 { border-color: var(--orange-11); }
.bordercolor-gold0 { border-color: var(--gold-0); }
.bordercolor-gold1 { border-color: var(--gold-1); }
.bordercolor-gold2 { border-color: var(--gold-2); }
.bordercolor-gold3 { border-color: var(--gold-3); }
.bordercolor-gold4 { border-color: var(--gold-4); }
.bordercolor-gold5 { border-color: var(--gold-5); }
.bordercolor-gold6 { border-color: var(--gold-6); }
.bordercolor-gold7 { border-color: var(--gold-7); }
.bordercolor-gold8 { border-color: var(--gold-8); }
.bordercolor-gold9 { border-color: var(--gold-9); }
.bordercolor-gold10 { border-color: var(--gold-10); }
.bordercolor-gold11 { border-color: var(--gold-11); }
.bordercolor-yellow0 { border-color: var(--yellow-0); }
.bordercolor-yellow1 { border-color: var(--yellow-1); }
.bordercolor-yellow2 { border-color: var(--yellow-2); }
.bordercolor-yellow3 { border-color: var(--yellow-3); }
.bordercolor-yellow4 { border-color: var(--yellow-4); }
.bordercolor-yellow5 { border-color: var(--yellow-5); }
.bordercolor-yellow6 { border-color: var(--yellow-6); }
.bordercolor-yellow7 { border-color: var(--yellow-7); }
.bordercolor-yellow8 { border-color: var(--yellow-8); }
.bordercolor-yellow9 { border-color: var(--yellow-9); }
.bordercolor-yellow10 { border-color: var(--yellow-10); }
.bordercolor-yellow11 { border-color: var(--yellow-11); }
.bordercolor-green0 { border-color: var(--green-0); }
.bordercolor-green1 { border-color: var(--green-1); }
.bordercolor-green2 { border-color: var(--green-2); }
.bordercolor-green3 { border-color: var(--green-3); }
.bordercolor-green4 { border-color: var(--green-4); }
.bordercolor-green5 { border-color: var(--green-5); }
.bordercolor-green6 { border-color: var(--green-6); }
.bordercolor-green7 { border-color: var(--green-7); }
.bordercolor-green8 { border-color: var(--green-8); }
.bordercolor-green9 { border-color: var(--green-9); }
.bordercolor-green10 { border-color: var(--green-10); }
.bordercolor-green11 { border-color: var(--green-11); }
.bordercolor-teal0 { border-color: var(--teal-0); }
.bordercolor-teal1 { border-color: var(--teal-1); }
.bordercolor-teal2 { border-color: var(--teal-2); }
.bordercolor-teal3 { border-color: var(--teal-3); }
.bordercolor-teal4 { border-color: var(--teal-4); }
.bordercolor-teal5 { border-color: var(--teal-5); }
.bordercolor-teal6 { border-color: var(--teal-6); }
.bordercolor-teal7 { border-color: var(--teal-7); }
.bordercolor-teal8 { border-color: var(--teal-8); }
.bordercolor-teal9 { border-color: var(--teal-9); }
.bordercolor-teal10 { border-color: var(--teal-10); }
.bordercolor-teal11 { border-color: var(--teal-11); }
.bordercolor-cyan0 { border-color: var(--cyan-0); }
.bordercolor-cyan1 { border-color: var(--cyan-1); }
.bordercolor-cyan2 { border-color: var(--cyan-2); }
.bordercolor-cyan3 { border-color: var(--cyan-3); }
.bordercolor-cyan4 { border-color: var(--cyan-4); }
.bordercolor-cyan5 { border-color: var(--cyan-5); }
.bordercolor-cyan6 { border-color: var(--cyan-6); }
.bordercolor-cyan7 { border-color: var(--cyan-7); }
.bordercolor-cyan8 { border-color: var(--cyan-8); }
.bordercolor-cyan9 { border-color: var(--cyan-9); }
.bordercolor-cyan10 { border-color: var(--cyan-10); }
.bordercolor-cyan11 { border-color: var(--cyan-11); }