/*

   BORDER WIDTHS
   Docs: http://tachyons.io/docs/themes/borders/

   Modifiers:
     0 = 0 width border
     1 = 1st step in border-width scale
     2 = 2nd step in border-width scale
     3 = 3rd step in border-width scale
     4 = 4th step in border-width scale
     5 = 5th step in border-width scale

*/


.borderwidth    { border-width: var( --borderwidth-1, 1px ); }
.borderwidth-0  { border-width: var( --borderwidth-0, 0 ); }
.borderwidth-1  { border-width: var( --borderwidth-1, 1px ); }
.borderwidth-2  { border-width: var( --borderwidth-2, 2px ); }
.borderwidth-3  { border-width: var( --borderwidth-3, 4px ); }
.borderwidth-4  { border-width: var( --borderwidth-4, 8px ); }
.borderwidth-5  { border-width: var( --borderwidth-5, 16px ); }

/* Resets */
.bordertopwidth-0     { border-top-width: 0; }
.borderrightwidth-0   { border-right-width: 0; }
.borderbottomwidth-0  { border-bottom-width: 0; }
.borderleftwidth-0    { border-left-width: 0; }


@media (--breakpoint-not-small) {
  .borderwidth-mediaS    { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-0-mediaS  { border-width: var( --borderwidth-0, 0 ); }
  .borderwidth-1-mediaS  { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-2-mediaS  { border-width: var( --borderwidth-2, 2px ); }
  .borderwidth-3-mediaS  { border-width: var( --borderwidth-3, 4px ); }
  .borderwidth-4-mediaS  { border-width: var( --borderwidth-4, 8px ); }
  .borderwidth-5-mediaS  { border-width: var( --borderwidth-5, 16px ); }

  .bordertopwidth-0-mediaS     { border-top-width: 0; }
  .borderrightwidth-0-mediaS   { border-right-width: 0; }
  .borderbottomwidth-0-mediaS  { border-bottom-width: 0; }
  .borderleftwidth-0-mediaS    { border-left-width: 0; }
}

@media (--breakpoint-medium) {
  .borderwidth-mediaM    { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-0-mediaM  { border-width: var( --borderwidth-0, 0 ); }
  .borderwidth-1-mediaM  { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-2-mediaM  { border-width: var( --borderwidth-2, 2px ); }
  .borderwidth-3-mediaM  { border-width: var( --borderwidth-3, 4px ); }
  .borderwidth-4-mediaM  { border-width: var( --borderwidth-4, 8px ); }
  .borderwidth-5-mediaM  { border-width: var( --borderwidth-5, 16px ); }

  .bordertopwidth-0-mediaM     { border-top-width: 0; }
  .borderrightwidth-0-mediaM   { border-right-width: 0; }
  .borderbottomwidth-0-mediaM  { border-bottom-width: 0; }
  .borderleftwidth-0-mediaM    { border-left-width: 0; }
}

@media (--breakpoint-large) {
  .borderwidth-mediaL    { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-0-mediaL  { border-width: var( --borderwidth-0, 0 ); }
  .borderwidth-1-mediaL  { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-2-mediaL  { border-width: var( --borderwidth-2, 2px ); }
  .borderwidth-3-mediaL  { border-width: var( --borderwidth-3, 4px ); }
  .borderwidth-4-mediaL  { border-width: var( --borderwidth-4, 8px ); }
  .borderwidth-5-mediaL  { border-width: var( --borderwidth-5, 16px ); }

  .bordertopwidth-0-mediaL     { border-top-width: 0; }
  .borderrightwidth-0-mediaL   { border-right-width: 0; }
  .borderbottomwidth-0-mediaL  { border-bottom-width: 0; }
  .borderleftwidth-0-mediaL    { border-left-width: 0; }
}

@media (--breakpoint-xlarge) {
  .borderwidth-mediaXL    { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-0-mediaXL  { border-width: var( --borderwidth-0, 0 ); }
  .borderwidth-1-mediaXL  { border-width: var( --borderwidth-1, 1px ); }
  .borderwidth-2-mediaXL  { border-width: var( --borderwidth-2, 2px ); }
  .borderwidth-3-mediaXL  { border-width: var( --borderwidth-3, 4px ); }
  .borderwidth-4-mediaXL  { border-width: var( --borderwidth-4, 8px ); }
  .borderwidth-5-mediaXL  { border-width: var( --borderwidth-5, 16px ); }

  .bordertopwidth-0-mediaXL     { border-top-width: 0; }
  .borderrightwidth-0-mediaXL   { border-right-width: 0; }
  .borderbottomwidth-0-mediaXL  { border-bottom-width: 0; }
  .borderleftwidth-0-mediaXL    { border-left-width: 0; }
}
