/*

   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

 */

.borderstyle-dotted { border-style: dotted; }
.borderstyle-dashed { border-style: dashed; }
.borderstyle-solid {  border-style: solid; }
.borderstyle-none {   border-style: none; }

@media (--breakpoint-not-small) {
   .borderstyle-dotted-ns { border-style: dotted; }
   .borderstyle-dashed-ns { border-style: dashed; }
   .borderstyle-solid-ns {  border-style: solid; }
   .borderstyle-none-ns {   border-style: none; }
}

@media (--breakpoint-medium) {
   .borderstyle-dotted-m { border-style: dotted; }
   .borderstyle-dashed-m { border-style: dashed; }
   .borderstyle-solid-m {  border-style: solid; }
   .borderstyle-none-m {   border-style: none; }
}

@media (--breakpoint-large) {
  .borderstyle-dotted-l { border-style: dotted; }
  .borderstyle-dashed-l { border-style: dashed; }
  .borderstyle-solid-l {  border-style: solid; }
  .borderstyle-none-l {   border-style: none; }
}
