/*

   BORDER RADIUS
   Docs: http://tachyons.io/docs/themes/border-radius/

   Modifiers:
     0    = 0/none
     1    = 1st step in scale
     2    = 2nd step in scale
     3    = 3rd step in scale
     4    = 4th step in scale
     100p = 100%


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

  .borderradius-none,
  .borderradius-0 {        border-radius: 0; }
  .borderradius-1 {        border-radius: .125rem; }
  .borderradius-2 {        border-radius: .25rem; }
  .borderradius-3 {        border-radius: .5rem; }
  .borderradius-4 {        border-radius: 1rem; }
  .borderradius-5 {        border-radius: 2rem; }
  .borderradius-100p {     border-radius: 100%; }
  .borderradius-pill {     border-radius: 9999px; }
  .borderradius-bottom {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .borderradius-top {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .borderradius-right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .borderradius-left {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }

@media (--breakpoint-not-small) {
  .borderradius-none-ns,
  .borderradius-0-ns {     border-radius: 0; }
  .borderradius-1-ns {     border-radius: .125rem; }
  .borderradius-2-ns {     border-radius: .25rem; }
  .borderradius-3-ns {     border-radius: .5rem; }
  .borderradius-4-ns {     border-radius: 1rem; }
  .borderradius-5-ns {     border-radius: 2rem; }
  .borderradius-100p-ns {  border-radius: 100%; }
  .borderradius-pill-ns {     border-radius: 9999px; }
  .borderradius-bottom-ns {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .borderradius-top-ns {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .borderradius-right-ns {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .borderradius-left-ns {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}

@media (--breakpoint-medium) {
  .borderradius-none-m.
  .borderradius-0-m {     border-radius: 0; }
  .borderradius-1-m {     border-radius: .125rem; }
  .borderradius-2-m {     border-radius: .25rem; }
  .borderradius-3-m {     border-radius: .5rem; }
  .borderradius-4-m {     border-radius: 1rem; }
  .borderradius-5-m {     border-radius: 2rem; }
  .borderradius-100p-m {  border-radius: 100%; }
  .borderradius-pill-m {     border-radius: 9999px; }
  .borderradius-bottom-m {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .borderradius-top-m {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .borderradius-right-m {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .borderradius-left-m {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}

@media (--breakpoint-large) {
  .borderradius-none-l,
  .borderradius-0-l {     border-radius: 0; }
  .borderradius-1-l {     border-radius: .125rem; }
  .borderradius-2-l {     border-radius: .25rem; }
  .borderradius-3-l {     border-radius: .5rem; }
  .borderradius-4-l {     border-radius: 1rem; }
  .borderradius-5-l {     border-radius: 2rem; }
  .borderradius-100p-l {  border-radius: 100%; }
  .borderradius-pill-l {     border-radius: 9999px; }
  .borderradius-bottom-l {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .borderradius-top-l {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
  }
  .borderradius-right-l {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
  }
  .borderradius-left-l {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
  }
}
