/*

   COORDINATES
   Docs: http://tachyons.io/docs/layout/position/

   Use in combination with the position module.

*/

.top-0         { top:    0; }
.right-0       { right:  0; }
.bottom-0      { bottom: 0; }
.left-0        { left:   0; }

.top-1         { top:    var(--size, 1rem); }
.right-1       { right:  var(--size, 1rem); }
.bottom-1      { bottom: var(--size, 1rem); }
.left-1        { left:   var(--size, 1rem); }
.top-2         { top:    calc(var(--size, 1rem) * 2); }
.right-2       { right:  calc(var(--size, 1rem) * 2); }
.bottom-2      { bottom: calc(var(--size, 1rem) * 2); }
.left-2        { left:   calc(var(--size, 1rem) * 2); }

.top-minus1    { top:    calc(var(--size, 1rem) * -1); }
.right-minus1  { right:  calc(var(--size, 1rem) * -1); }
.bottom-minus1 { bottom: calc(var(--size, 1rem) * -1); }
.left-minus1   { left:   calc(var(--size, 1rem) * -1); }
.top-minus2    { top:    calc(var(--size, 1rem) * -2); }
.right-minus2  { right:  calc(var(--size, 1rem) * -2); }
.bottom-minus2 { bottom: calc(var(--size, 1rem) * -2); }
.left-minus2   { left:   calc(var(--size, 1rem) * -2); }

.inset-0       { inset: 0; }

@media (--breakpoint-small) {
  .top-0-mediaS         { top:    0; }
  .right-0-mediaS       { right:  0; }
  .bottom-0-mediaS      { bottom: 0; }
  .left-0-mediaS        { left:   0; }

  .top-1-mediaS         { top:    var(--size, 1rem); }
  .right-1-mediaS       { right:  var(--size, 1rem); }
  .bottom-1-mediaS      { bottom: var(--size, 1rem); }
  .left-1-mediaS        { left:   var(--size, 1rem); }
  .top-2-mediaS         { top:    calc(var(--size, 1rem) * 2); }
  .right-2-mediaS       { right:  calc(var(--size, 1rem) * 2); }
  .bottom-2-mediaS      { bottom: calc(var(--size, 1rem) * 2); }
  .left-2-mediaS        { left:   calc(var(--size, 1rem) * 2); }

  .top-minus1-mediaS    { top:    calc(var(--size, 1rem) * -1); }
  .right-minus1-mediaS  { right:  calc(var(--size, 1rem) * -1); }
  .bottom-minus1-mediaS { bottom: calc(var(--size, 1rem) * -1); }
  .left-minus1-mediaS   { left:   calc(var(--size, 1rem) * -1); }
  .top-minus2-mediaS    { top:    calc(var(--size, 1rem) * -2); }
  .right-minus2-mediaS  { right:  calc(var(--size, 1rem) * -2); }
  .bottom-minus2-mediaS { bottom: calc(var(--size, 1rem) * -2); }
  .left-minus2-mediaS   { left:   calc(var(--size, 1rem) * -2); }

  .inset-0-mediaS       { inset: 0; }
}

@media (--breakpoint-medium) {
  .top-0-mediaM         { top:    0; }
  .right-0-mediaM       { right:  0; }
  .bottom-0-mediaM      { bottom: 0; }
  .left-0-mediaM        { left:   0; }

  .top-1-mediaM         { top:    var(--size, 1rem); }
  .right-1-mediaM       { right:  var(--size, 1rem); }
  .bottom-1-mediaM      { bottom: var(--size, 1rem); }
  .left-1-mediaM        { left:   var(--size, 1rem); }
  .top-2-mediaM         { top:    calc(var(--size, 1rem) * 2); }
  .right-2-mediaM       { right:  calc(var(--size, 1rem) * 2); }
  .bottom-2-mediaM      { bottom: calc(var(--size, 1rem) * 2); }
  .left-2-mediaM        { left:   calc(var(--size, 1rem) * 2); }

  .top-minus1-mediaM    { top:    calc(var(--size, 1rem) * -1); }
  .right-minus1-mediaM  { right:  calc(var(--size, 1rem) * -1); }
  .bottom-minus1-mediaM { bottom: calc(var(--size, 1rem) * -1); }
  .left-minus1-mediaM   { left:   calc(var(--size, 1rem) * -1); }
  .top-minus2-mediaM    { top:    calc(var(--size, 1rem) * -2); }
  .right-minus2-mediaM  { right:  calc(var(--size, 1rem) * -2); }
  .bottom-minus2-mediaM { bottom: calc(var(--size, 1rem) * -2); }
  .left-minus2-mediaM   { left:   calc(var(--size, 1rem) * -2); }

  .inset-0-mediaM       { inset: 0; }
}

@media (--breakpoint-large) {
  .top-0-mediaL         { top:    0; }
  .right-0-mediaL       { right:  0; }
  .bottom-0-mediaL      { bottom: 0; }
  .left-0-mediaL        { left:   0; }

  .top-1-mediaL         { top:    var(--size, 1rem); }
  .right-1-mediaL       { right:  var(--size, 1rem); }
  .bottom-1-mediaL      { bottom: var(--size, 1rem); }
  .left-1-mediaL        { left:   var(--size, 1rem); }
  .top-2-mediaL         { top:    calc(var(--size, 1rem) * 2); }
  .right-2-mediaL       { right:  calc(var(--size, 1rem) * 2); }
  .bottom-2-mediaL      { bottom: calc(var(--size, 1rem) * 2); }
  .left-2-mediaL        { left:   calc(var(--size, 1rem) * 2); }

  .top-minus1-mediaL    { top:    calc(var(--size, 1rem) * -1); }
  .right-minus1-mediaL  { right:  calc(var(--size, 1rem) * -1); }
  .bottom-minus1-mediaL { bottom: calc(var(--size, 1rem) * -1); }
  .left-minus1-mediaL   { left:   calc(var(--size, 1rem) * -1); }
  .top-minus2-mediaL    { top:    calc(var(--size, 1rem) * -2); }
  .right-minus2-mediaL  { right:  calc(var(--size, 1rem) * -2); }
  .bottom-minus2-mediaL { bottom: calc(var(--size, 1rem) * -2); }
  .left-minus2-mediaL   { left:   calc(var(--size, 1rem) * -2); }

  .inset-0-mediaL       { inset: 0; }
}

@media (--breakpoint-xlarge) {
  .top-0-mediaXL         { top:    0; }
  .right-0-mediaXL       { right:  0; }
  .bottom-0-mediaXL      { bottom: 0; }
  .left-0-mediaXL        { left:   0; }

  .top-1-mediaXL         { top:    var(--size, 1rem); }
  .right-1-mediaXL       { right:  var(--size, 1rem); }
  .bottom-1-mediaXL      { bottom: var(--size, 1rem); }
  .left-1-mediaXL        { left:   var(--size, 1rem); }
  .top-2-mediaXL         { top:    calc(var(--size, 1rem) * 2); }
  .right-2-mediaXL       { right:  calc(var(--size, 1rem) * 2); }
  .bottom-2-mediaXL      { bottom: calc(var(--size, 1rem) * 2); }
  .left-2-mediaXL        { left:   calc(var(--size, 1rem) * 2); }

  .top-minus1-mediaXL    { top:    calc(var(--size, 1rem) * -1); }
  .right-minus1-mediaXL  { right:  calc(var(--size, 1rem) * -1); }
  .bottom-minus1-mediaXL { bottom: calc(var(--size, 1rem) * -1); }
  .left-minus1-mediaXL   { left:   calc(var(--size, 1rem) * -1); }
  .top-minus2-mediaXL    { top:    calc(var(--size, 1rem) * -2); }
  .right-minus2-mediaXL  { right:  calc(var(--size, 1rem) * -2); }
  .bottom-minus2-mediaXL { bottom: calc(var(--size, 1rem) * -2); }
  .left-minus2-mediaXL   { left:   calc(var(--size, 1rem) * -2); }

  .inset-0-mediaXL       { inset: 0; }
}

