/*

   DISPLAY
   Docs: http://tachyons.io/docs/layout/display

*/

.display-none             { display: none; }
.display-inline           { display: inline; }
.display-block            { display: block; }
.display-inlineblock      { display: inline-block; }
.display-flex             { display: flex; }
.display-inlineflex       { display: inline-flex; }
.display-grid             { display: grid; }
.display-inlinegrid       { display: inline-grid; }


@media (--breakpoint-small) {
  .display-none-mediaS             { display: none; }
  .display-inline-mediaS           { display: inline; }
  .display-block-mediaS            { display: block; }
  .display-inlineblock-mediaS      { display: inline-block; }
  .display-flex-mediaS             { display: flex; }
  .display-inlineflex-mediaS       { display: inline-flex; }
  .display-grid-mediaS             { display: grid; }
  .display-inlinegrid-mediaS       { display: inline-grid; }
}

@media (--breakpoint-medium) {
  .display-none-mediaM             { display: none; }
  .display-inline-mediaM           { display: inline; }
  .display-block-mediaM            { display: block; }
  .display-inlineblock-mediaM      { display: inline-block; }
  .display-flex-mediaM             { display: flex; }
  .display-inlineflex-mediaM       { display: inline-flex; }
  .display-grid-mediaM             { display: grid; }
  .display-inlinegrid-mediaM       { display: inline-grid; }
}

@media (--breakpoint-large) {
  .display-none-mediaL             { display: none; }
  .display-inline-mediaL           { display: inline; }
  .display-block-mediaL            { display: block; }
  .display-inlineblock-mediaL      { display: inline-block; }
  .display-flex-mediaL             { display: flex; }
  .display-inlineflex-mediaL       { display: inline-flex; }
  .display-grid-mediaL             { display: grid; }
  .display-inlinegrid-mediaL       { display: inline-grid; }
}

@media (--breakpoint-xlarge) {
  .display-none-mediaXL             { display: none; }
  .display-inline-mediaXL           { display: inline; }
  .display-block-mediaXL            { display: block; }
  .display-inlineblock-mediaXL      { display: inline-block; }
  .display-flex-mediaXL             { display: flex; }
  .display-inlineflex-mediaXL       { display: inline-flex; }
  .display-grid-mediaXL             { display: grid; }
  .display-inlinegrid-mediaXL       { display: inline-grid; }
}