/*

FLEXBOX

  Media Query Extensions:
   -ns = not-small
   -m  = medium
   -l  = large

 */

.display-flex { display: flex; }
.display-inlineflex { display: inline-flex; }

/* 1. Fix for Chrome 44 bug.
https://code.google.com/p/chromium/issues/detail?id=506893 */
.flexauto {
  flex: 1 1 auto;
  min-width: 0; /* 1 */
  min-height: 0; /* 1 */
}

.flex-none { flex: none; }

.flexdirection-column   { flex-direction: column; }
.flexdirection-row      { flex-direction: row; }
.flexwrap-wrap          { flex-wrap: wrap; }
.flexwrap-nowrap        { flex-wrap: nowrap; }
.flexwrap-wrapreverse    { flex-wrap: wrap-reverse; }
.flexdirection-columnreverse  { flex-direction: column-reverse; }
.flexdirection-rowreverse     { flex-direction: row-reverse; }

.alignitems-flexstart   { align-items: flex-start; }
.alignitems-flexend     { align-items: flex-end; }
.alignitems-center      { align-items: center; }
.alignitems-baseline    { align-items: baseline; }
.alignitems-stretch     { align-items: stretch; }

.alignself-flexstart    { align-self: flex-start; }
.alignself-flexend      { align-self: flex-end; }
.alignself-center       { align-self: center; }
.alignself-baseline     { align-self: baseline; }
.alignself-stretch      { align-self: stretch; }

.justifycontent-flexstart     { justify-content: flex-start; }
.justifycontent-flexend       { justify-content: flex-end; }
.justifycontent-center        { justify-content: center; }
.justifycontent-spacebetween  { justify-content: space-between; }
.justifycontent-spacearound    { justify-content: space-around; }

.aligncontent-flexstart    { align-content: flex-start; }
.aligncontent-flexend      { align-content: flex-end; }
.aligncontent-center       { align-content: center; }
.aligncontent-spacebetween { align-content: space-between; }
.aligncontent-spacearound  { align-content: space-around; }
.aligncontent-stretch      { align-content: stretch; }

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last { order: 99999; }

.flexgrow-0,
.flexgrow-none { flex-grow: 0; }
.flexgrow-1 { flex-grow: 1; }

.flexshrink-0,
.flexshrink-none { flex-shrink: 0; }
.flexshrink-1 { flex-shrink: 1; }

@media (--breakpoint-not-small) {
  .display-flex-ns { display: flex; }
  .display-inlineflex-ns { display: inline-flex; }
  .flexauto-ns {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-ns              { flex: none; }
  .flexdirection-column-ns   { flex-direction: column; }
  .flexdirection-row-ns      { flex-direction: row; }
  .flexwrap-wrap-ns          { flex-wrap: wrap; }
  .flexwrap-nowrap-ns        { flex-wrap: nowrap; }
  .flexwrap-wrapreverse-ns    { flex-wrap: wrap-reverse; }
  .flexdirection-columnreverse-ns  { flex-direction: column-reverse; }
  .flexdirection-rowreverse-ns     { flex-direction: row-reverse; }
  .alignitems-flexstart-ns   { align-items: flex-start; }
  .alignitems-flexend-ns     { align-items: flex-end; }
  .alignitems-center-ns      { align-items: center; }
  .alignitems-baseline-ns    { align-items: baseline; }
  .alignitems-stretch-ns     { align-items: stretch; }

  .alignself-flexstart-ns    { align-self: flex-start; }
  .alignself-flexend-ns      { align-self: flex-end; }
  .alignself-center-ns       { align-self: center; }
  .alignself-baseline-ns     { align-self: baseline; }
  .alignself-stretch-ns      { align-self: stretch; }

  .justifycontent-flexstart-ns     { justify-content: flex-start; }
  .justifycontent-flexend-ns       { justify-content: flex-end; }
  .justifycontent-center-ns        { justify-content: center; }
  .justifycontent-spacebetween-ns  { justify-content: space-between; }
  .justifycontent-spacearound-ns    { justify-content: space-around; }

  .aligncontent-flexstart-ns    { align-content: flex-start; }
  .aligncontent-flexend-ns      { align-content: flex-end; }
  .aligncontent-center-ns       { align-content: center; }
  .aligncontent-spacebetween-ns { align-content: space-between; }
  .aligncontent-spacearound-ns  { align-content: space-around; }
  .aligncontent-stretch-ns      { align-content: stretch; }

  .order-0-ns { order: 0; }
  .order-1-ns { order: 1; }
  .order-2-ns { order: 2; }
  .order-3-ns { order: 3; }
  .order-4-ns { order: 4; }
  .order-5-ns { order: 5; }
  .order-6-ns { order: 6; }
  .order-7-ns { order: 7; }
  .order-8-ns { order: 8; }
  .order-last-ns { order: 99999; }

  .flexgrow-0-ns,
  .flexgrow-none-ns { flex-grow: 0; }
  .flexgrow-1-ns { flex-grow: 1; }

  .flexshrink-0-ns,
  .flexshrink-none-ns { flex-shrink: 0; }
  .flexshrink-1-ns { flex-shrink: 1; }
}
@media (--breakpoint-medium) {
  .display-flex-m { display: flex; }
  .display-inlineflex-m { display: inline-flex; }
  .flexauto-m {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-m              { flex: none; }
  .flexdirection-column-m   { flex-direction: column; }
  .flexdirection-row-m      { flex-direction: row; }
  .flexwrap-wrap-m          { flex-wrap: wrap; }
  .flexwrap-nowrap-m        { flex-wrap: nowrap; }
  .flexwrap-wrapreverse-m   { flex-wrap: wrap-reverse; }
  .flexdirection-columnreverse-m  { flex-direction: column-reverse; }
  .flexdirection-rowreverse-m     { flex-direction: row-reverse; }

  .alignitems-flexstart-m   { align-items: flex-start; }
  .alignitems-flexend-m     { align-items: flex-end; }
  .alignitems-center-m      { align-items: center; }
  .alignitems-baseline-m    { align-items: baseline; }
  .alignitems-stretch-m     { align-items: stretch; }

  .alignself-flexstart-m    { align-self: flex-start; }
  .alignself-flexend-m      { align-self: flex-end; }
  .alignself-center-m       { align-self: center; }
  .alignself-baseline-m     { align-self: baseline; }
  .alignself-stretch-m      { align-self: stretch; }

  .justifycontent-flexstart-m     { justify-content: flex-start; }
  .justifycontent-flexend-m       { justify-content: flex-end; }
  .justifycontent-center-m        { justify-content: center; }
  .justifycontent-spacebetween-m  { justify-content: space-between; }
  .justifycontent-spacearound-m    { justify-content: space-around; }

  .aligncontent-flexstart-m    { align-content: flex-start; }
  .aligncontent-flexend-m      { align-content: flex-end; }
  .aligncontent-center-m       { align-content: center; }
  .aligncontent-spacebetween-m { align-content: space-between; }
  .aligncontent-spacearound-m  { align-content: space-around; }
  .aligncontent-stretch-m      { align-content: stretch; }

  .order-0-m { order: 0; }
  .order-1-m { order: 1; }
  .order-2-m { order: 2; }
  .order-3-m { order: 3; }
  .order-4-m { order: 4; }
  .order-5-m { order: 5; }
  .order-6-m { order: 6; }
  .order-7-m { order: 7; }
  .order-8-m { order: 8; }
  .order-last-m { order: 99999; }

  .flexgrow-0-m,
  .flexgrow-none-m { flex-grow: 0; }
  .flexgrow-1-m { flex-grow: 1; }

  .flexshrink-0-m,
  .flexshrink-none-m { flex-shrink: 0; }
  .flexshrink-1-m { flex-shrink: 1; }
}
@media (--breakpoint-large) {
  .display-flex-l { display: flex; }
  .display-inlineflex-l { display: inline-flex; }
  .flexauto-l {
    flex: 1 1 auto;
    min-width: 0; /* 1 */
    min-height: 0; /* 1 */
  }
  .flex-none-l              { flex: none; }
  .flexdirection-column-l   { flex-direction: column; }
  .flexdirection-row-l      { flex-direction: row; }
  .flexwrap-wrap-l          { flex-wrap: wrap; }
  .flexwrap-nowrap-l        { flex-wrap: nowrap; }
  .flexwrap-wrapreverse-l   { flex-wrap: wrap-reverse; }
  .flexdirection-columnreverse-l  { flex-direction: column-reverse; }
  .flexdirection-rowreverse-l     { flex-direction: row-reverse; }

  .alignitems-flexstart-l   { align-items: flex-start; }
  .alignitems-flexend-l     { align-items: flex-end; }
  .alignitems-center-l      { align-items: center; }
  .alignitems-baseline-l    { align-items: baseline; }
  .alignitems-stretch-l     { align-items: stretch; }

  .alignself-flexstart-l    { align-self: flex-start; }
  .alignself-flexend-l      { align-self: flex-end; }
  .alignself-center-l       { align-self: center; }
  .alignself-baseline-l     { align-self: baseline; }
  .alignself-stretch-l      { align-self: stretch; }

  .justifycontent-flexstart-l     { justify-content: flex-start; }
  .justifycontent-flexend-l       { justify-content: flex-end; }
  .justifycontent-center-l        { justify-content: center; }
  .justifycontent-spacebetween-l  { justify-content: space-between; }
  .justifycontent-spacearound-l    { justify-content: space-around; }

  .aligncontent-flexstart-l    { align-content: flex-start; }
  .aligncontent-flexend-l      { align-content: flex-end; }
  .aligncontent-center-l       { align-content: center; }
  .aligncontent-spacebetween-l { align-content: space-between; }
  .aligncontent-spacearound-l  { align-content: space-around; }
  .aligncontent-stretch-l      { align-content: stretch; }

  .order-0-l { order: 0; }
  .order-1-l { order: 1; }
  .order-2-l { order: 2; }
  .order-3-l { order: 3; }
  .order-4-l { order: 4; }
  .order-5-l { order: 5; }
  .order-6-l { order: 6; }
  .order-7-l { order: 7; }
  .order-8-l { order: 8; }
  .order-last-l { order: 99999; }

  .flexgrow-0-l,
  .flexgrow-none-l { flex-grow: 0; }
  .flexgrow-1-l { flex-grow: 1; }

  .flexshrink-0-l,
  .flexshrink-none-l { flex-shrink: 0; }
  .flexshrink-1-l { flex-shrink: 1; }
}
