/*

FLEXBOX

*/
/* 1. Fix for Chrome 44 bug.
 * https://code.google.com/p/chromium/issues/detail?id=506893 */
.flex-auto      { flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
.flex-none      { flex: none; }
.flexgrow-0     { flex-grow: 0; }
.flexgrow-1     { flex-grow: 1; }
.flexshrink-0   { flex-shrink: 0; }
.flexshrink-1   { flex-shrink: 1; }

@media (--breakpoint-small) {
  .flex-auto-mediaS      { flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
  .flex-none-mediaS      { flex: none; }
  .flexgrow-0-mediaS     { flex-grow: 0; }
  .flexgrow-1-mediaS     { flex-grow: 1; }
  .flexshrink-0-mediaS   { flex-shrink: 0; }
  .flexshrink-1-mediaS   { flex-shrink: 1; }
}

@media (--breakpoint-medium) {
  .flex-auto-mediaM      { flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
  .flex-none-mediaM      { flex: none; }
  .flexgrow-0-mediaM     { flex-grow: 0; }
  .flexgrow-1-mediaM     { flex-grow: 1; }
  .flexshrink-0-mediaM   { flex-shrink: 0; }
  .flexshrink-1-mediaM   { flex-shrink: 1; }
}

@media (--breakpoint-large) {
  .flex-auto-mediaL      { flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
  .flex-none-mediaL      { flex: none; }
  .flexgrow-0-mediaL     { flex-grow: 0; }
  .flexgrow-1-mediaL     { flex-grow: 1; }
  .flexshrink-0-mediaL   { flex-shrink: 0; }
  .flexshrink-1-mediaL   { flex-shrink: 1; }
}

@media (--breakpoint-xlarge) {
  .flex-auto-mediaXL      { flex: 1 1 auto; min-width: 0; /* 1 */ min-height: 0; /* 1 */ }
  .flex-none-mediaXL      { flex: none; }
  .flexgrow-0-mediaXL     { flex-grow: 0; }
  .flexgrow-1-mediaXL     { flex-grow: 1; }
  .flexshrink-0-mediaXL   { flex-shrink: 0; }
  .flexshrink-1-mediaXL   { flex-shrink: 1; }
}


