/*

   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

*/

.normal, .fontweight-normal   { font-weight: normal; }
.b, .fontweight-bold          { font-weight: bold; }
.fontweight-100               { font-weight: 100; }
.fontweight-200               { font-weight: 200; }
.fontweight-300               { font-weight: 300; }
.fontweight-400               { font-weight: 400; }
.fontweight-500               { font-weight: 500; }
.fontweight-600               { font-weight: 600; }
.fontweight-700               { font-weight: 700; }
.fontweight-800               { font-weight: 800; }
.fontweight-900               { font-weight: 900; }


@media (--breakpoint-small) {
  .normal-mediaS, .fontweight-normal-mediaS   { font-weight: normal; }
  .b-mediaS, .fontweight-bold-mediaS          { font-weight: bold; }
  .fontweight-100-mediaS                  { font-weight: 100; }
  .fontweight-200-mediaS                  { font-weight: 200; }
  .fontweight-300-mediaS                  { font-weight: 300; }
  .fontweight-400-mediaS                  { font-weight: 400; }
  .fontweight-500-mediaS                  { font-weight: 500; }
  .fontweight-600-mediaS                  { font-weight: 600; }
  .fontweight-700-mediaS                  { font-weight: 700; }
  .fontweight-800-mediaS                  { font-weight: 800; }
  .fontweight-900-mediaS                  { font-weight: 900; }
}

@media (--breakpoint-medium) {
  .normal-mediaM, .fontweight-normal-mediaM   { font-weight: normal; }
  .b-mediaM, .fontweight-bold-mediaM          { font-weight: bold; }
  .fontweight-100-mediaM                 { font-weight: 100; }
  .fontweight-200-mediaM                 { font-weight: 200; }
  .fontweight-300-mediaM                 { font-weight: 300; }
  .fontweight-400-mediaM                 { font-weight: 400; }
  .fontweight-500-mediaM                 { font-weight: 500; }
  .fontweight-600-mediaM                 { font-weight: 600; }
  .fontweight-700-mediaM                 { font-weight: 700; }
  .fontweight-800-mediaM                 { font-weight: 800; }
  .fontweight-900-mediaM                 { font-weight: 900; }
}

@media (--breakpoint-large) {
  .normal-mediaL, .fontweight-normal-mediaL   { font-weight: normal; }
  .b-mediaL, .fontweight-bold-mediaL          { font-weight: bold; }
  .fontweight-100-mediaL                 { font-weight: 100; }
  .fontweight-200-mediaL                 { font-weight: 200; }
  .fontweight-300-mediaL                 { font-weight: 300; }
  .fontweight-400-mediaL                 { font-weight: 400; }
  .fontweight-500-mediaL                 { font-weight: 500; }
  .fontweight-600-mediaL                 { font-weight: 600; }
  .fontweight-700-mediaL                 { font-weight: 700; }
  .fontweight-800-mediaL                 { font-weight: 800; }
  .fontweight-900-mediaL                 { font-weight: 900; }
}

@media (--breakpoint-xlarge) {
  .normal-mediaXL, .fontweight-normal-mediaXL   { font-weight: normal; }
  .b-mediaXL, .fontweight-bold-mediaXL          { font-weight: bold; }
  .fontweight-100-mediaXL                 { font-weight: 100; }
  .fontweight-200-mediaXL                 { font-weight: 200; }
  .fontweight-300-mediaXL                 { font-weight: 300; }
  .fontweight-400-mediaXL                 { font-weight: 400; }
  .fontweight-500-mediaXL                 { font-weight: 500; }
  .fontweight-600-mediaXL                 { font-weight: 600; }
  .fontweight-700-mediaXL                 { font-weight: 700; }
  .fontweight-800-mediaXL                 { font-weight: 800; }
  .fontweight-900-mediaXL                 { font-weight: 900; }
}
