/*

   FONT WEIGHT
   Docs: http://tachyons.io/docs/typography/font-weight/

*/

.normal, .fontweight-normal   { font-weight: normal; }
.b, .fontweight-bold          { font-weight: bold; }
.fontweight-100               { font-weight: 100; }
.fontweight-200               { font-weight: 200; }
.fontweight-300               { font-weight: 300; }
.fontweight-400               { font-weight: 400; }
.fontweight-500               { font-weight: 500; }
.fontweight-600               { font-weight: 600; }
.fontweight-700               { font-weight: 700; }
.fontweight-800               { font-weight: 800; }
.fontweight-900               { font-weight: 900; }


@media (--breakpoint-not-small) {
  .normal-ns, .fontweight-normal-ns   { font-weight: normal; }
  .b-ns, .fontweight-bold-ns          { font-weight: bold; }
  .fontweight-100-ns                  { font-weight: 100; }
  .fontweight-200-ns                  { font-weight: 200; }
  .fontweight-300-ns                  { font-weight: 300; }
  .fontweight-400-ns                  { font-weight: 400; }
  .fontweight-500-ns                  { font-weight: 500; }
  .fontweight-600-ns                  { font-weight: 600; }
  .fontweight-700-ns                  { font-weight: 700; }
  .fontweight-800-ns                  { font-weight: 800; }
  .fontweight-900-ns                  { font-weight: 900; }
}

@media (--breakpoint-medium) {
  .normal-m, .fontweight-normal-m   { font-weight: normal; }
  .b-m, .fontweight-bold-m          { font-weight: bold; }
  .fontweight-100-m                 { font-weight: 100; }
  .fontweight-200-m                 { font-weight: 200; }
  .fontweight-300-m                 { font-weight: 300; }
  .fontweight-400-m                 { font-weight: 400; }
  .fontweight-500-m                 { font-weight: 500; }
  .fontweight-600-m                 { font-weight: 600; }
  .fontweight-700-m                 { font-weight: 700; }
  .fontweight-800-m                 { font-weight: 800; }
  .fontweight-900-m                 { font-weight: 900; }
}

@media (--breakpoint-large) {
  .normal-l, .fontweight-normal-l   { font-weight: normal; }
  .b-l, .fontweight-bold-l          { font-weight: bold; }
  .fontweight-100-l                 { font-weight: 100; }
  .fontweight-200-l                 { font-weight: 200; }
  .fontweight-300-l                 { font-weight: 300; }
  .fontweight-400-l                 { font-weight: 400; }
  .fontweight-500-l                 { font-weight: 500; }
  .fontweight-600-l                 { font-weight: 600; }
  .fontweight-700-l                 { font-weight: 700; }
  .fontweight-800-l                 { font-weight: 800; }
  .fontweight-900-l                 { font-weight: 900; }
}
