/*

   FONT STYLE
   Docs: http://tachyons.io/docs/typography/font-style/

*/

.fontstyle-italic, .i   { font-style: italic; }
.fontstyle-normal     	{ font-style: normal; }

@media (--breakpoint-not-small) {
	.fontstyle-italic-ns, .i-ns   { font-style: italic; }
  	.fontstyle-normal-ns     	  { font-style: normal; }
}

@media (--breakpoint-medium) {
	.fontstyle-italic-m, .i-m     { font-style: italic; }
	.fontstyle-normal-m     	  { font-style: normal; }
  
}

@media (--breakpoint-large) {
	.fontstyle-italic-l, .i-l     { font-style: italic; }
    .fontstyle-normal-l     	  { font-style: normal; }
}
