/*

   FONT FAMILY GROUPS
   Docs: http://tachyons.io/docs/typography/font-family/

*/

.fontfamily-heading { font-family: var(--font-family-heading, sans-serif); }
.fontfamily-body { font-family: var(--font-family-body, sans-serif); }
.fontfamily-monospace { font-family: var(--font-family-mono, monospace); }

/* Legacy font stacks below */

.fontfamily-sansserif {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               'helvetica neue', helvetica, 
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
}
.fontfamily-serif {
  font-family: georgia,
               times,
               serif;
}