/*

   FONT STYLE
   Docs: http://tachyons.io/docs/typography/font-style/

*/

.fontstyle-italic, .i   { font-style: italic; }
.fontstyle-normal     	{ font-style: normal; }

@media (--breakpoint-small) {
	.fontstyle-italic-mediaS, 
	.i-mediaS   						{ font-style: italic; }
  	.fontstyle-normal-mediaS     	{ font-style: normal; }
}

@media (--breakpoint-medium) {
	.fontstyle-italic-mediaM,
	.i-mediaM     						{ font-style: italic; }
	.fontstyle-normal-mediaM     	{ font-style: normal; }
}

@media (--breakpoint-large) {
	.fontstyle-italic-mediaL, 
	.i-mediaL    						{ font-style: italic; }
    .fontstyle-normal-mediaL     { font-style: normal; }
}

@media (--breakpoint-xlarge) {
	.fontstyle-italic-mediaXL, 
	.i-mediaXL    						{ font-style: italic; }
    .fontstyle-normal-mediaXL     { font-style: normal; }
}
