/*

   GAP: GRID AND FLEX SPACING
   Docs: http://tachyons.io/docs/layout/gap/

*/

.columngap-0 { column-gap: var(--spacing-0, 0); }
.columngap-1 { column-gap: var(--spacing-1, 4px); }
.columngap-2 { column-gap: var(--spacing-2, 8px); }
.columngap-3 { column-gap: var(--spacing-3, 16px); }
.columngap-4 { column-gap: var(--spacing-4, 32px); }
.columngap-5 { column-gap: var(--spacing-5, 64px); }
.columngap-6 { column-gap: var(--spacing-6, 128px); }
.columngap-7 { column-gap: var(--spacing-7, 256px); }

@media (--breakpoint-small) {
  .columngap-0-mediaS { column-gap: var(--spacing-0, 0); }
  .columngap-1-mediaS { column-gap: var(--spacing-1, 4px); }
  .columngap-2-mediaS { column-gap: var(--spacing-2, 8px); }
  .columngap-3-mediaS { column-gap: var(--spacing-3, 16px); }
  .columngap-4-mediaS { column-gap: var(--spacing-4, 32px); }
  .columngap-5-mediaS { column-gap: var(--spacing-5, 64px); }
  .columngap-6-mediaS { column-gap: var(--spacing-6, 128px); }
  .columngap-7-mediaS { column-gap: var(--spacing-7, 256px); }
}

@media (--breakpoint-medium) {
  .columngap-0-mediaM { column-gap: var(--spacing-0, 0); }
  .columngap-1-mediaM { column-gap: var(--spacing-1, 4px); }
  .columngap-2-mediaM { column-gap: var(--spacing-2, 8px); }
  .columngap-3-mediaM { column-gap: var(--spacing-3, 16px); }
  .columngap-4-mediaM { column-gap: var(--spacing-4, 32px); }
  .columngap-5-mediaM { column-gap: var(--spacing-5, 64px); }
  .columngap-6-mediaM { column-gap: var(--spacing-6, 128px); }
  .columngap-7-mediaM { column-gap: var(--spacing-7, 256px); }
}

@media (--breakpoint-large) {
  .columngap-0-mediaL { column-gap: var(--spacing-0, 0); }
  .columngap-1-mediaL { column-gap: var(--spacing-1, 4px); }
  .columngap-2-mediaL { column-gap: var(--spacing-2, 8px); }
  .columngap-3-mediaL { column-gap: var(--spacing-3, 16px); }
  .columngap-4-mediaL { column-gap: var(--spacing-4, 32px); }
  .columngap-5-mediaL { column-gap: var(--spacing-5, 64px); }
  .columngap-6-mediaL { column-gap: var(--spacing-6, 128px); }
  .columngap-7-mediaL { column-gap: var(--spacing-7, 256px); }
}

@media (--breakpoint-xlarge) {
  .columngap-0-mediaXL { column-gap: var(--spacing-0, 0); }
  .columngap-1-mediaXL { column-gap: var(--spacing-1, 4px); }
  .columngap-2-mediaXL { column-gap: var(--spacing-2, 8px); }
  .columngap-3-mediaXL { column-gap: var(--spacing-3, 16px); }
  .columngap-4-mediaXL { column-gap: var(--spacing-4, 32px); }
  .columngap-5-mediaXL { column-gap: var(--spacing-5, 64px); }
  .columngap-6-mediaXL { column-gap: var(--spacing-6, 128px); }
  .columngap-7-mediaXL { column-gap: var(--spacing-7, 256px); }
}