/*

   GAP: GRID AND FLEX SPACING
   Docs: http://tachyons.io/docs/layout/gap/

*/

.rowgap-0 { row-gap: var(--spacing-0, 0); }
.rowgap-1 { row-gap: var(--spacing-1, 4px); }
.rowgap-2 { row-gap: var(--spacing-2, 8px); }
.rowgap-3 { row-gap: var(--spacing-3, 16px); }
.rowgap-4 { row-gap: var(--spacing-4, 32px); }
.rowgap-5 { row-gap: var(--spacing-5, 64px); }
.rowgap-6 { row-gap: var(--spacing-6, 128px); }
.rowgap-7 { row-gap: var(--spacing-7, 256px); }

@media (--breakpoint-small) {
  .rowgap-0-mediaS { row-gap: var(--spacing-0, 0); }
  .rowgap-1-mediaS { row-gap: var(--spacing-1, 4px); }
  .rowgap-2-mediaS { row-gap: var(--spacing-2, 8px); }
  .rowgap-3-mediaS { row-gap: var(--spacing-3, 16px); }
  .rowgap-4-mediaS { row-gap: var(--spacing-4, 32px); }
  .rowgap-5-mediaS { row-gap: var(--spacing-5, 64px); }
  .rowgap-6-mediaS { row-gap: var(--spacing-6, 128px); }
  .rowgap-7-mediaS { row-gap: var(--spacing-7, 256px); }
}

@media (--breakpoint-medium) {
  .rowgap-0-mediaM { row-gap: var(--spacing-0, 0); }
  .rowgap-1-mediaM { row-gap: var(--spacing-1, 4px); }
  .rowgap-2-mediaM { row-gap: var(--spacing-2, 8px); }
  .rowgap-3-mediaM { row-gap: var(--spacing-3, 16px); }
  .rowgap-4-mediaM { row-gap: var(--spacing-4, 32px); }
  .rowgap-5-mediaM { row-gap: var(--spacing-5, 64px); }
  .rowgap-6-mediaM { row-gap: var(--spacing-6, 128px); }
  .rowgap-7-mediaM { row-gap: var(--spacing-7, 256px); }
}

@media (--breakpoint-large) {
  .rowgap-0-mediaL { row-gap: var(--spacing-0, 0); }
  .rowgap-1-mediaL { row-gap: var(--spacing-1, 4px); }
  .rowgap-2-mediaL { row-gap: var(--spacing-2, 8px); }
  .rowgap-3-mediaL { row-gap: var(--spacing-3, 16px); }
  .rowgap-4-mediaL { row-gap: var(--spacing-4, 32px); }
  .rowgap-5-mediaL { row-gap: var(--spacing-5, 64px); }
  .rowgap-6-mediaL { row-gap: var(--spacing-6, 128px); }
  .rowgap-7-mediaL { row-gap: var(--spacing-7, 256px); }
}

@media (--breakpoint-xlarge) {
  .rowgap-0-mediaXL { row-gap: var(--spacing-0, 0); }
  .rowgap-1-mediaXL { row-gap: var(--spacing-1, 4px); }
  .rowgap-2-mediaXL { row-gap: var(--spacing-2, 8px); }
  .rowgap-3-mediaXL { row-gap: var(--spacing-3, 16px); }
  .rowgap-4-mediaXL { row-gap: var(--spacing-4, 32px); }
  .rowgap-5-mediaXL { row-gap: var(--spacing-5, 64px); }
  .rowgap-6-mediaXL { row-gap: var(--spacing-6, 128px); }
  .rowgap-7-mediaXL { row-gap: var(--spacing-7, 256px); }
}
