/*

   HEIGHTS
   Docs: http://tachyons.io/docs/layout/heights/
*/

/* Height Scale */

.height-0 {    height: var(--size-0, 0); }
.height-1 {    height: var(--size-1, 1rem); }
.height-2 {    height: var(--size-2, 2rem); }
.height-3 {    height: var(--size-3, 3rem); }
.height-4 {    height: var(--size-4, 4rem); }
.height-5 {    height: var(--size-5, 8rem); }
.height-6 {    height: var(--size-6, 16rem); }
.height-7 {    height: var(--size-7, 32rem); }
.height-8 {    height: var(--size-8, 64rem); }

/* Height Scale (Tachyons Verbose-specific) */

.height-xxxsmall    { height: var(--size-xxxsmall); }
.height-xxsmall     { height: var(--size-xxsmall); }
.height-xsmall      { height: var(--size-xsmall); }
.height-small       { height: var(--size-small); }
.height-medium      {  height: var(--size-medium); }
.height-large       {  height: var(--size-large); }
.height-xlarge      {  height: var(--size-xlarge); }
.height-xxlarge     {  height: var(--size-xxlarge); }
.height-xxxlarge    {  height: var(--size-xxxlarge); }
.height-xxxxlarge   { height: var(--size-xxxxlarge); }

/* Height Percentages - Based off of height of parent */

.height-25percent  {  height:  25%; }
.height-50percent  {  height:  50%; }
.height-75percent  {  height:  75%; }
.height-100percent {  height: 100%; }

.minheight-100percent { min-height: 100%; }

/* Screen Height Percentage */

.height-25vh  {  height:  25vh; }
.height-50vh  {  height:  50vh; }
.height-75vh  {  height:  75vh; }
.height-100vh { height: 100vh; }

.minheight-100vh { min-height: 100vh; }

/* String Properties */

.height-auto    {  height: auto; }
.height-inherit {  height: inherit; }


@media (--breakpoint-small) {
  .height-0-mediaS {    height: var(--size-0, 0); }
  .height-1-mediaS {    height: var(--size-1, 1rem); }
  .height-2-mediaS {    height: var(--size-2, 2rem); }
  .height-3-mediaS {    height: var(--size-3, 3rem); }
  .height-4-mediaS {    height: var(--size-4, 4rem); }
  .height-5-mediaS {    height: var(--size-5, 8rem); }
  .height-6-mediaS {    height: var(--size-6, 16rem); }
  .height-7-mediaS {    height: var(--size-7, 32rem); }
  .height-8-mediaS {    height: var(--size-8, 64rem); }

  .height-xxxsmall-mediaS    { height: var(--size-xxxsmall); }
  .height-xxsmall-mediaS     { height: var(--size-xxsmall); }
  .height-xsmall-mediaS      { height: var(--size-xsmall); }
  .height-small-mediaS       { height: var(--size-small); }
  .height-medium-mediaS      { height: var(--size-medium); }
  .height-large-mediaS       { height: var(--size-large); }
  .height-xlarge-mediaS      { height: var(--size-xlarge); }
  .height-xxlarge-mediaS     { height: var(--size-xxlarge); }
  .height-xxxlarge-mediaS    { height: var(--size-xxxlarge); }
  .height-xxxxlarge-mediaS   { height: var(--size-xxxxlarge); }

  .height-25percent-mediaS  {  height:  25%; }
  .height-50percent-mediaS  {  height:  50%; }
  .height-75percent-mediaS  {  height:  75%; }
  .height-100percent-mediaS {  height: 100%; }

  .minheight-100percent-mediaS { min-height: 100%; }

  .height-25vh-mediaS  {  height:  25vh; }
  .height-50vh-mediaS  {  height:  50vh; }
  .height-75vh-mediaS  {  height:  75vh; }
  .height-100vh-mediaS { height: 100vh; }

  .minheight-100vh-mediaS { min-height: 100vh; }

  .height-auto-mediaS    {  height: auto; }
  .height-inherit-mediaS {  height: inherit; }
}
@media (--breakpoint-medium) {
  .height-0-mediaM {    height: var(--size-0, 0); }
  .height-1-mediaM {    height: var(--size-1, 1rem); }
  .height-2-mediaM {    height: var(--size-2, 2rem); }
  .height-3-mediaM {    height: var(--size-3, 3rem); }
  .height-4-mediaM {    height: var(--size-4, 4rem); }
  .height-5-mediaM {    height: var(--size-5, 8rem); }
  .height-6-mediaM {    height: var(--size-6, 16rem); }
  .height-7-mediaM {    height: var(--size-7, 32rem); }
  .height-8-mediaM {    height: var(--size-8, 64rem); }

  .height-xxxsmall-mediaM    { height: var(--size-xxxsmall); }
  .height-xxsmall-mediaM     { height: var(--size-xxsmall); }
  .height-xsmall-mediaM      { height: var(--size-xsmall); }
  .height-small-mediaM       { height: var(--size-small); }
  .height-medium-mediaM      { height: var(--size-medium); }
  .height-large-mediaM       { height: var(--size-large); }
  .height-xlarge-mediaM      { height: var(--size-xlarge); }
  .height-xxlarge-mediaM     { height: var(--size-xxlarge); }
  .height-xxxlarge-mediaM    { height: var(--size-xxxlarge); }
  .height-xxxxlarge-mediaM   { height: var(--size-xxxxlarge); }

  .height-25percent-mediaM  { height:  25%; }
  .height-50percent-mediaM  { height:  50%; }
  .height-75percent-mediaM  { height:  75%; }
  .height-100percent-mediaM { height: 100%; }

  .minheight-100percent-mediaM { min-height: 100%; }

  .height-25vh-mediaM  { height:  25vh; }
  .height-50vh-mediaM  { height:  50vh; }
  .height-75vh-mediaM  { height:  75vh; }
  .height-100vh-mediaM { height: 100vh; }

  .minheight-100vh-mediaM { min-height: 100vh; }

  .height-auto-mediaM    {  height: auto; }
  .height-inherit-mediaM {  height: inherit; }
}
@media (--breakpoint-large) {
  .height-0-mediaL {    height: var(--size-0, 0); }
  .height-1-mediaL {    height: var(--size-1, 1rem); }
  .height-2-mediaL {    height: var(--size-2, 2rem); }
  .height-3-mediaL {    height: var(--size-3, 3rem); }
  .height-4-mediaL {    height: var(--size-4, 4rem); }
  .height-5-mediaL {    height: var(--size-5, 8rem); }
  .height-6-mediaL {    height: var(--size-6, 16rem); }
  .height-7-mediaL {    height: var(--size-7, 32rem); }
  .height-8-mediaL {    height: var(--size-8, 64rem); }

  .height-xxxsmall-mediaL    { height: var(--size-xxxsmall); }
  .height-xxsmall-mediaL     { height: var(--size-xxsmall); }
  .height-xsmall-mediaL      { height: var(--size-xsmall); }
  .height-small-mediaL       { height: var(--size-small); }
  .height-medium-mediaL      { height: var(--size-medium); }
  .height-large-mediaL       { height: var(--size-large); }
  .height-xlarge-mediaL      { height: var(--size-xlarge); }
  .height-xxlarge-mediaL     { height: var(--size-xxlarge); }
  .height-xxxlarge-mediaL    { height: var(--size-xxxlarge); }
  .height-xxxxlarge-mediaL   { height: var(--size-xxxxlarge); }

  .height-25percent-mediaL  {  height:  25%; }
  .height-50percent-mediaL  {  height:  50%; }
  .height-75percent-mediaL  {  height:  75%; }
  .height-100percent-mediaL {  height: 100%; }

  .minheight-100percent-mediaL { min-height: 100%; }

  .height-25vh-mediaL  { height:  25vh; }
  .height-50vh-mediaL  { height:  50vh; }
  .height-75vh-mediaL  { height:  75vh; }
  .height-100vh-mediaL { height: 100vh; }

  .minheight-100vh-mediaL { min-height: 100vh; }

  .height-auto-mediaL    {  height: auto; }
  .height-inherit-mediaL {  height: inherit; }
}

@media (--breakpoint-xlarge) {
  .height-0-mediaXL {    height: var(--size-0, 0); }
  .height-1-mediaXL {    height: var(--size-1, 1rem); }
  .height-2-mediaXL {    height: var(--size-2, 2rem); }
  .height-3-mediaXL {    height: var(--size-3, 3rem); }
  .height-4-mediaXL {    height: var(--size-4, 4rem); }
  .height-5-mediaXL {    height: var(--size-5, 8rem); }
  .height-6-mediaXL {    height: var(--size-6, 16rem); }
  .height-7-mediaXL {    height: var(--size-7, 32rem); }
  .height-8-mediaXL {    height: var(--size-8, 64rem); }

  .height-xxxsmall-mediaXL    { height: var(--size-xxxsmall); }
  .height-xxsmall-mediaXL     { height: var(--size-xxsmall); }
  .height-xsmall-mediaXL      { height: var(--size-xsmall); }
  .height-small-mediaXL       { height: var(--size-small); }
  .height-medium-mediaXL      { height: var(--size-medium); }
  .height-large-mediaXL       { height: var(--size-large); }
  .height-xlarge-mediaXL      { height: var(--size-xlarge); }
  .height-xxlarge-mediaXL     { height: var(--size-xxlarge); }
  .height-xxxlarge-mediaXL    { height: var(--size-xxxlarge); }
  .height-xxxxlarge-mediaXL   { height: var(--size-xxxxlarge); }

  .height-25percent-mediaXL  {  height:  25%; }
  .height-50percent-mediaXL  {  height:  50%; }
  .height-75percent-mediaXL  {  height:  75%; }
  .height-100percent-mediaXL {  height: 100%; }

  .minheight-100percent-mediaXL { min-height: 100%; }

  .height-25vh-mediaXL  { height:  25vh; }
  .height-50vh-mediaXL  { height:  50vh; }
  .height-75vh-mediaXL  { height:  75vh; }
  .height-100vh-mediaXL { height: 100vh; }

  .minheight-100vh-mediaXL { min-height: 100vh; }

  .height-auto-mediaXL    {  height: auto; }
  .height-inherit-mediaXL {  height: inherit; }
}