/*

   LETTER SPACING
   Docs: http://tachyons.io/docs/typography/tracking/

*/

.letterspacing-tracked     { letter-spacing: var( --letter-spacing-tracked, .1em ) }
.letterspacing-tight       { letter-spacing: var( --letter-spacing-tight, -0.05em ); }
.letterspacing-mega        { letter-spacing: var( --letter-spacing-large, .25em ) }

@media (--breakpoint-small) {
  .letterspacing-tracked-mediaS { letter-spacing: var( --letter-spacing-tracked, .1em ) }
  .letterspacing-tight-media    { letter-spacing: var( --letter-spacing-tight, -0.05em ); }
  .letterspacing-mega-mediaS    { letter-spacing: var( --letter-spacing-large, .25em ) }
}

@media (--breakpoint-medium) {
  .letterspacing-tracked-mediaM { letter-spacing: var( --letter-spacing-tracked, .1em ) }
  .letterspacing-tight-mediaM   { letter-spacing: var( --letter-spacing-tight, -0.05em ); }
  .letterspacing-mega-mediaM    { letter-spacing: var( --letter-spacing-large, .25em ) }
}

@media (--breakpoint-large) {
  .letterspacing-tracked-mediaL { letter-spacing: var( --letter-spacing-tracked, .1em ) }
  .letterspacing-tight-mediaL   { letter-spacing: var( --letter-spacing-tight, -0.05em ); }
  .letterspacing-mega-mediaL    { letter-spacing: var( --letter-spacing-large, .25em ) }
}

@media (--breakpoint-xlarge) {
  .letterspacing-tracked-mediaXL { letter-spacing: var( --letter-spacing-tracked, .1em ) }
  .letterspacing-tight-mediaXL   { letter-spacing: var( --letter-spacing-tight, -0.05em ); }
  .letterspacing-mega-mediaXL    { letter-spacing: var( --letter-spacing-large, .25em ) }
}