/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

*/

  .lineheight-solid { line-height: var(--line-height-solid, 1); }
  .lineheight-title { line-height: var(--line-height-title, 1.25); }
  .lineheight-body  { line-height: var(--line-height-body, 1.5); }
  .lineheight-1     { line-height: 1; }
  .lineheight-1p25  { line-height: 1.25; }
  .lineheight-1p5   { line-height: 1.5; }

@media (--breakpoint-small) {
  .lineheight-solid-mediaS { line-height: var(--line-height-solid, 1); }
  .lineheight-title-mediaS { line-height: var(--line-height-title, 1.25); }
  .lineheight-body-mediaS  { line-height: var(--line-height-body, 1.5); }
  .lineheight-1-mediaS     { line-height: 1; }
  .lineheight-1p25-mediaS  { line-height: 1.25; }
  .lineheight-1p5-mediaS   { line-height: 1.5; }
}

@media (--breakpoint-medium) {
  .lineheight-solid-mediaM { line-height: var(--line-height-solid, 1); }
  .lineheight-title-mediaM { line-height: var(--line-height-title, 1.25); }
  .lineheight-body-mediaM  { line-height: var(--line-height-body, 1.5); }
  .lineheight-1-mediaM     { line-height: 1; }
  .lineheight-1p25-mediaM  { line-height: 1.25; }
  .lineheight-1p5-mediaM   { line-height: 1.5; }
}

@media (--breakpoint-large) {
  .lineheight-solid-mediaL { line-height: var(--line-height-solid, 1); }
  .lineheight-title-mediaL { line-height: var(--line-height-title, 1.25); }
  .lineheight-body-mediaL  { line-height: var(--line-height-body, 1.5); }
  .lineheight-1-mediaL     { line-height: 1; }
  .lineheight-1p25-mediaL  { line-height: 1.25; }
  .lineheight-1p5-mediaL   { line-height: 1.5; }
}

@media (--breakpoint-xlarge) {
  .lineheight-solid-mediaXL { line-height: var(--line-height-solid, 1); }
  .lineheight-title-mediaXL { line-height: var(--line-height-title, 1.25); }
  .lineheight-body-mediaXL  { line-height: var(--line-height-body, 1.5); }
  .lineheight-1-mediaXL     { line-height: 1; }
  .lineheight-1p25-mediaXL  { line-height: 1.25; }
  .lineheight-1p5-mediaXL   { line-height: 1.5; }
}
