/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

*/

  .lineheight-solid, .lineheight-1       { line-height: 1; }
  .lineheight-title, .lineheight-1p25 { line-height: 1.25; }
  .lineheight-copy, .lineheight-1p5  { line-height: 1.5; }

@media (--breakpoint-not-small) {
  .lineheight-solid, .lineheight-1-ns       { line-height: 1; }
  .lineheight-title-ns, .lineheight-1p25-ns { line-height: 1.25; }
  .lineheight-copy-ns, .lineheight-1p5-ns  { line-height: 1.5; }
}

@media (--breakpoint-medium) {
  .lineheight-solid, .lineheight-1-m       { line-height: 1; }
  .lineheight-title-m, .lineheight-1p25-m { line-height: 1.25; }
  .lineheight-copy-m, .lineheight-1p5-m  { line-height: 1.5; }
}

@media (--breakpoint-large) {
  .lineheight-solid, .lineheight-1-l       { line-height: 1; }
  .lineheight-title-l, .lineheight-1p25-l { line-height: 1.25; }
  .lineheight-copy-l, .lineheight-1p5-l  { line-height: 1.5; }
}


