/*

   NEGATIVE MARGINS

*/

.margin-minus1 { margin: calc(-1 * var(--spacing-1)); }
.margin-minus2 { margin: calc(-1 * var(--spacing-2)); }
.margin-minus3 { margin: calc(-1 * var(--spacing-3)); }
.margin-minus4 { margin: calc(-1 * var(--spacing-4)); }
.margin-minus5 { margin: calc(-1 * var(--spacing-5)); }
.margin-minus6 { margin: calc(-1 * var(--spacing-6)); }
.margin-minus7 { margin: calc(-1 * var(--spacing-7)); }

.marginleft-minus1 { margin-left: calc(-1 * var(--spacing-1)); }
.marginleft-minus2 { margin-left: calc(-1 * var(--spacing-2)); }
.marginleft-minus3 { margin-left: calc(-1 * var(--spacing-3)); }
.marginleft-minus4 { margin-left: calc(-1 * var(--spacing-4)); }
.marginleft-minus5 { margin-left: calc(-1 * var(--spacing-5)); }
.marginleft-minus6 { margin-left: calc(-1 * var(--spacing-6)); }
.marginleft-minus7 { margin-left: calc(-1 * var(--spacing-7)); }

.marginright-minus1 { margin-right: calc(-1 * var(--spacing-1)); }
.marginright-minus2 { margin-right: calc(-1 * var(--spacing-2)); }
.marginright-minus3 { margin-right: calc(-1 * var(--spacing-3)); }
.marginright-minus4 { margin-right: calc(-1 * var(--spacing-4)); }
.marginright-minus5 { margin-right: calc(-1 * var(--spacing-5)); }
.marginright-minus6 { margin-right: calc(-1 * var(--spacing-6)); }
.marginright-minus7 { margin-right: calc(-1 * var(--spacing-7)); }

.marginbottom-minus1 { margin-bottom: calc(-1 * var(--spacing-1)); }
.marginbottom-minus2 { margin-bottom: calc(-1 * var(--spacing-2)); }
.marginbottom-minus3 { margin-bottom: calc(-1 * var(--spacing-3)); }
.marginbottom-minus4 { margin-bottom: calc(-1 * var(--spacing-4)); }
.marginbottom-minus5 { margin-bottom: calc(-1 * var(--spacing-5)); }
.marginbottom-minus6 { margin-bottom: calc(-1 * var(--spacing-6)); }
.marginbottom-minus7 { margin-bottom: calc(-1 * var(--spacing-7)); }

.margintop-minus1 { margin-top: calc(-1 * var(--spacing-1)); }
.margintop-minus2 { margin-top: calc(-1 * var(--spacing-2)); }
.margintop-minus3 { margin-top: calc(-1 * var(--spacing-3)); }
.margintop-minus4 { margin-top: calc(-1 * var(--spacing-4)); }
.margintop-minus5 { margin-top: calc(-1 * var(--spacing-5)); }
.margintop-minus6 { margin-top: calc(-1 * var(--spacing-6)); }
.margintop-minus7 { margin-top: calc(-1 * var(--spacing-7)); }

/* Tachyons Verbose specific scales */

.margin-minusxxxsmall {  margin: calc(-1 * var(--size-xxxsmall)); }
.margin-minusxxsmall {  margin: calc(-1 * var(--size-xxsmall)); }
.margin-minusxsmall {  margin: calc(-1 * var(--size-xsmall)); }
.margin-minussmall  {  margin: calc(-1 * var(--size-small)); }
.margin-minusmedium  {  margin: calc(-1 * var(--size-medium)); }
.margin-minuslarge  {  margin: calc(-1 * var(--size-large)); }
.margin-minusxlarge   {  margin: calc(-1 * var(--size-xlarge)); }
.margin-minusxxlarge  {  margin: calc(-1 * var(--size-xxlarge)); }
.margin-minusxxxlarge { margin: calc(-1 * var(--size-xxxlarge)); }

.marginleft-minusxxxsmall {  margin-left: calc(-1 * var(--size-xxxsmall)); }
.marginleft-minusxxsmall {  margin-left: calc(-1 * var(--size-xxsmall)); }
.marginleft-minusxsmall {  margin-left: calc(-1 * var(--size-xsmall)); }
.marginleft-minussmall  {  margin-left: calc(-1 * var(--size-small)); }
.marginleft-minusmedium  {  margin-left: calc(-1 * var(--size-medium)); }
.marginleft-minuslarge  {  margin-left: calc(-1 * var(--size-large)); }
.marginleft-minusxlarge   {  margin-left: calc(-1 * var(--size-xlarge)); }
.marginleft-minusxxlarge  {  margin-left: calc(-1 * var(--size-xxlarge)); }
.marginleft-minusxxxlarge { margin-left: calc(-1 * var(--size-xxxlarge)); }

.marginright-minusxxxsmall {  margin-right: calc(-1 * var(--size-xxxsmall)); }
.marginright-minusxxsmall {  margin-right: calc(-1 * var(--size-xxsmall)); }
.marginright-minusxsmall {  margin-right: calc(-1 * var(--size-xsmall)); }
.marginright-minussmall  {  margin-right: calc(-1 * var(--size-small)); }
.marginright-minusmedium  {  margin-right: calc(-1 * var(--size-medium)); }
.marginright-minuslarge  {  margin-right: calc(-1 * var(--size-large)); }
.marginright-minusxlarge   {  margin-right: calc(-1 * var(--size-xlarge)); }
.marginright-minusxxlarge  {  margin-right: calc(-1 * var(--size-xxlarge)); }
.marginright-minusxxxlarge { margin-right: calc(-1 * var(--size-xxxlarge)); }

.marginbottom-minusxxxsmall {  margin-bottom: calc(-1 * var(--size-xxxsmall)); }
.marginbottom-minusxxsmall {  margin-bottom: calc(-1 * var(--size-xxsmall)); }
.marginbottom-minusxsmall {  margin-bottom: calc(-1 * var(--size-xsmall)); }
.marginbottom-minussmall  {  margin-bottom: calc(-1 * var(--size-small)); }
.marginbottom-minusmedium  {  margin-bottom: calc(-1 * var(--size-medium)); }
.marginbottom-minuslarge  {  margin-bottom: calc(-1 * var(--size-large)); }
.marginbottom-minusxlarge   {  margin-bottom: calc(-1 * var(--size-xlarge)); }
.marginbottom-minusxxlarge  {  margin-bottom: calc(-1 * var(--size-xxlarge)); }
.marginbottom-minusxxxlarge { margin-bottom: calc(-1 * var(--size-xxxlarge)); }

.margintop-minusxxxsmall {  margin-top: calc(-1 * var(--size-xxxsmall)); }
.margintop-minusxxsmall {  margin-top: calc(-1 * var(--size-xxsmall)); }
.margintop-minusxsmall {  margin-top: calc(-1 * var(--size-xsmall)); }
.margintop-minussmall  {  margin-top: calc(-1 * var(--size-small)); }
.margintop-minusmedium  {  margin-top: calc(-1 * var(--size-medium)); }
.margintop-minuslarge  {  margin-top: calc(-1 * var(--size-large)); }
.margintop-minusxlarge   {  margin-top: calc(-1 * var(--size-xlarge)); }
.margintop-minusxxlarge  {  margin-top: calc(-1 * var(--size-xxlarge)); }
.margintop-minusxxxlarge { margin-top: calc(-1 * var(--size-xxxlarge)); }


@media (--breakpoint-small) {

  .margin-minus1-mediaS { margin: calc(-1 * var(--spacing-1)); }
  .margin-minus2-mediaS { margin: calc(-1 * var(--spacing-2)); }
  .margin-minus3-mediaS { margin: calc(-1 * var(--spacing-3)); }
  .margin-minus4-mediaS { margin: calc(-1 * var(--spacing-4)); }
  .margin-minus5-mediaS { margin: calc(-1 * var(--spacing-5)); }
  .margin-minus6-mediaS { margin: calc(-1 * var(--spacing-6)); }
  .margin-minus7-mediaS { margin: calc(-1 * var(--spacing-7)); }

  .marginleft-minus1-mediaS { margin-left: calc(-1 * var(--spacing-1)); }
  .marginleft-minus2-mediaS { margin-left: calc(-1 * var(--spacing-2)); }
  .marginleft-minus3-mediaS { margin-left: calc(-1 * var(--spacing-3)); }
  .marginleft-minus4-mediaS { margin-left: calc(-1 * var(--spacing-4)); }
  .marginleft-minus5-mediaS { margin-left: calc(-1 * var(--spacing-5)); }
  .marginleft-minus6-mediaS { margin-left: calc(-1 * var(--spacing-6)); }
  .marginleft-minus7-mediaS { margin-left: calc(-1 * var(--spacing-7)); }

  .marginright-minus1-mediaS { margin-right: calc(-1 * var(--spacing-1)); }
  .marginright-minus2-mediaS { margin-right: calc(-1 * var(--spacing-2)); }
  .marginright-minus3-mediaS { margin-right: calc(-1 * var(--spacing-3)); }
  .marginright-minus4-mediaS { margin-right: calc(-1 * var(--spacing-4)); }
  .marginright-minus5-mediaS { margin-right: calc(-1 * var(--spacing-5)); }
  .marginright-minus6-mediaS { margin-right: calc(-1 * var(--spacing-6)); }
  .marginright-minus7-mediaS { margin-right: calc(-1 * var(--spacing-7)); }

  .marginbottom-minus1-mediaS { margin-bottom: calc(-1 * var(--spacing-1)); }
  .marginbottom-minus2-mediaS { margin-bottom: calc(-1 * var(--spacing-2)); }
  .marginbottom-minus3-mediaS { margin-bottom: calc(-1 * var(--spacing-3)); }
  .marginbottom-minus4-mediaS { margin-bottom: calc(-1 * var(--spacing-4)); }
  .marginbottom-minus5-mediaS { margin-bottom: calc(-1 * var(--spacing-5)); }
  .marginbottom-minus6-mediaS { margin-bottom: calc(-1 * var(--spacing-6)); }
  .marginbottom-minus7-mediaS { margin-bottom: calc(-1 * var(--spacing-7)); }

  .margintop-minus1-mediaS { margin-top: calc(-1 * var(--spacing-1)); }
  .margintop-minus2-mediaS { margin-top: calc(-1 * var(--spacing-2)); }
  .margintop-minus3-mediaS { margin-top: calc(-1 * var(--spacing-3)); }
  .margintop-minus4-mediaS { margin-top: calc(-1 * var(--spacing-4)); }
  .margintop-minus5-mediaS { margin-top: calc(-1 * var(--spacing-5)); }
  .margintop-minus6-mediaS { margin-top: calc(-1 * var(--spacing-6)); }
  .margintop-minus7-mediaS { margin-top: calc(-1 * var(--spacing-7)); }

  .margin-minusxxxsmall-mediaS {  margin: calc(-1 * var(--size-xxxsmall)); }
  .margin-minusxxsmall-mediaS {  margin: calc(-1 * var(--size-xxsmall)); }
  .margin-minusxsmall-mediaS {  margin: calc(-1 * var(--size-xsmall)); }
  .margin-minussmall-mediaS  {  margin: calc(-1 * var(--size-small)); }
  .margin-minusmedium-mediaS  {  margin: calc(-1 * var(--size-medium)); }
  .margin-minuslarge-mediaS  {  margin: calc(-1 * var(--size-large)); }
  .margin-minusxlarge-mediaS   {  margin: calc(-1 * var(--size-xlarge)); }
  .margin-minusxxlarge-mediaS  {  margin: calc(-1 * var(--size-xxlarge)); }
  .margin-minusxxxlarge-mediaS { margin: calc(-1 * var(--size-xxxlarge)); }

  .marginleft-minusxxxsmall-mediaS {  margin-left: calc(-1 * var(--size-xxxsmall)); }
  .marginleft-minusxxsmall-mediaS {  margin-left: calc(-1 * var(--size-xxsmall)); }
  .marginleft-minusxsmall-mediaS {  margin-left: calc(-1 * var(--size-xsmall)); }
  .marginleft-minussmall-mediaS  {  margin-left: calc(-1 * var(--size-small)); }
  .marginleft-minusmedium-mediaS  {  margin-left: calc(-1 * var(--size-medium)); }
  .marginleft-minuslarge-mediaS  {  margin-left: calc(-1 * var(--size-large)); }
  .marginleft-minusxlarge-mediaS   {  margin-left: calc(-1 * var(--size-xlarge)); }
  .marginleft-minusxxlarge-mediaS  {  margin-left: calc(-1 * var(--size-xxlarge)); }
  .marginleft-minusxxxlarge-mediaS { margin-left: calc(-1 * var(--size-xxxlarge)); }

  .marginright-minusxxxsmall-mediaS {  margin-right: calc(-1 * var(--size-xxxsmall)); }
  .marginright-minusxxsmall-mediaS {  margin-right: calc(-1 * var(--size-xxsmall)); }
  .marginright-minusxsmall-mediaS {  margin-right: calc(-1 * var(--size-xsmall)); }
  .marginright-minussmall-mediaS  {  margin-right: calc(-1 * var(--size-small)); }
  .marginright-minusmedium-mediaS  {  margin-right: calc(-1 * var(--size-medium)); }
  .marginright-minuslarge-mediaS  {  margin-right: calc(-1 * var(--size-large)); }
  .marginright-minusxlarge-mediaS   {  margin-right: calc(-1 * var(--size-xlarge)); }
  .marginright-minusxxlarge-mediaS  {  margin-right: calc(-1 * var(--size-xxlarge)); }
  .marginright-minusxxxlarge-mediaS { margin-right: calc(-1 * var(--size-xxxlarge)); }

  .marginbottom-minusxxxsmall-mediaS {  margin-bottom: calc(-1 * var(--size-xxxsmall)); }
  .marginbottom-minusxxsmall-mediaS {  margin-bottom: calc(-1 * var(--size-xxsmall)); }
  .marginbottom-minusxsmall-mediaS {  margin-bottom: calc(-1 * var(--size-xsmall)); }
  .marginbottom-minussmall-mediaS  {  margin-bottom: calc(-1 * var(--size-small)); }
  .marginbottom-minusmedium-mediaS  {  margin-bottom: calc(-1 * var(--size-medium)); }
  .marginbottom-minuslarge-mediaS  {  margin-bottom: calc(-1 * var(--size-large)); }
  .marginbottom-minusxlarge-mediaS   {  margin-bottom: calc(-1 * var(--size-xlarge)); }
  .marginbottom-minusxxlarge-mediaS  {  margin-bottom: calc(-1 * var(--size-xxlarge)); }
  .marginbottom-minusxxxlarge-mediaS { margin-bottom: calc(-1 * var(--size-xxxlarge)); }

  .margintop-minusxxxsmall-mediaS {  margin-top: calc(-1 * var(--size-xxxsmall)); }
  .margintop-minusxxsmall-mediaS {  margin-top: calc(-1 * var(--size-xxsmall)); }
  .margintop-minusxsmall-mediaS {  margin-top: calc(-1 * var(--size-xsmall)); }
  .margintop-minussmall-mediaS  {  margin-top: calc(-1 * var(--size-small)); }
  .margintop-minusmedium-mediaS  {  margin-top: calc(-1 * var(--size-medium)); }
  .margintop-minuslarge-mediaS  {  margin-top: calc(-1 * var(--size-large)); }
  .margintop-minusxlarge-mediaS   {  margin-top: calc(-1 * var(--size-xlarge)); }
  .margintop-minusxxlarge-mediaS  {  margin-top: calc(-1 * var(--size-xxlarge)); }
  .margintop-minusxxxlarge-mediaS { margin-top: calc(-1 * var(--size-xxxlarge)); }

}

@media (--breakpoint-medium) {

  .margin-minus1-mediaM { margin: calc(-1 * var(--spacing-1)); }
  .margin-minus2-mediaM { margin: calc(-1 * var(--spacing-2)); }
  .margin-minus3-mediaM { margin: calc(-1 * var(--spacing-3)); }
  .margin-minus4-mediaM { margin: calc(-1 * var(--spacing-4)); }
  .margin-minus5-mediaM { margin: calc(-1 * var(--spacing-5)); }
  .margin-minus6-mediaM { margin: calc(-1 * var(--spacing-6)); }
  .margin-minus7-mediaM { margin: calc(-1 * var(--spacing-7)); }

  .marginleft-minus1-mediaM { margin-left: calc(-1 * var(--spacing-1)); }
  .marginleft-minus2-mediaM { margin-left: calc(-1 * var(--spacing-2)); }
  .marginleft-minus3-mediaM { margin-left: calc(-1 * var(--spacing-3)); }
  .marginleft-minus4-mediaM { margin-left: calc(-1 * var(--spacing-4)); }
  .marginleft-minus5-mediaM { margin-left: calc(-1 * var(--spacing-5)); }
  .marginleft-minus6-mediaM { margin-left: calc(-1 * var(--spacing-6)); }
  .marginleft-minus7-mediaM { margin-left: calc(-1 * var(--spacing-7)); }

  .marginright-minus1-mediaM { margin-right: calc(-1 * var(--spacing-1)); }
  .marginright-minus2-mediaM { margin-right: calc(-1 * var(--spacing-2)); }
  .marginright-minus3-mediaM { margin-right: calc(-1 * var(--spacing-3)); }
  .marginright-minus4-mediaM { margin-right: calc(-1 * var(--spacing-4)); }
  .marginright-minus5-mediaM { margin-right: calc(-1 * var(--spacing-5)); }
  .marginright-minus6-mediaM { margin-right: calc(-1 * var(--spacing-6)); }
  .marginright-minus7-mediaM { margin-right: calc(-1 * var(--spacing-7)); }

  .marginbottom-minus1-mediaM { margin-bottom: calc(-1 * var(--spacing-1)); }
  .marginbottom-minus2-mediaM { margin-bottom: calc(-1 * var(--spacing-2)); }
  .marginbottom-minus3-mediaM { margin-bottom: calc(-1 * var(--spacing-3)); }
  .marginbottom-minus4-mediaM { margin-bottom: calc(-1 * var(--spacing-4)); }
  .marginbottom-minus5-mediaM { margin-bottom: calc(-1 * var(--spacing-5)); }
  .marginbottom-minus6-mediaM { margin-bottom: calc(-1 * var(--spacing-6)); }
  .marginbottom-minus7-mediaM { margin-bottom: calc(-1 * var(--spacing-7)); }

  .margintop-minus1-mediaM { margin-top: calc(-1 * var(--spacing-1)); }
  .margintop-minus2-mediaM { margin-top: calc(-1 * var(--spacing-2)); }
  .margintop-minus3-mediaM { margin-top: calc(-1 * var(--spacing-3)); }
  .margintop-minus4-mediaM { margin-top: calc(-1 * var(--spacing-4)); }
  .margintop-minus5-mediaM { margin-top: calc(-1 * var(--spacing-5)); }
  .margintop-minus6-mediaM { margin-top: calc(-1 * var(--spacing-6)); }
  .margintop-minus7-mediaM { margin-top: calc(-1 * var(--spacing-7)); }

  .margin-minusxxxsmall-mediaM {  margin: calc(-1 * var(--size-xxxsmall)); }
  .margin-minusxxsmall-mediaM {  margin: calc(-1 * var(--size-xxsmall)); }
  .margin-minusxsmall-mediaM {  margin: calc(-1 * var(--size-xsmall)); }
  .margin-minussmall-mediaM  {  margin: calc(-1 * var(--size-small)); }
  .margin-minusmedium-mediaM  {  margin: calc(-1 * var(--size-medium)); }
  .margin-minuslarge-mediaM  {  margin: calc(-1 * var(--size-large)); }
  .margin-minusxlarge-mediaM   {  margin: calc(-1 * var(--size-xlarge)); }
  .margin-minusxxlarge-mediaM  {  margin: calc(-1 * var(--size-xxlarge)); }
  .margin-minusxxxlarge-mediaM { margin: calc(-1 * var(--size-xxxlarge)); }

  .marginleft-minusxxxsmall-mediaM {  margin-left: calc(-1 * var(--size-xxxsmall)); }
  .marginleft-minusxxsmall-mediaM {  margin-left: calc(-1 * var(--size-xxsmall)); }
  .marginleft-minusxsmall-mediaM {  margin-left: calc(-1 * var(--size-xsmall)); }
  .marginleft-minussmall-mediaM  {  margin-left: calc(-1 * var(--size-small)); }
  .marginleft-minusmedium-mediaM  {  margin-left: calc(-1 * var(--size-medium)); }
  .marginleft-minuslarge-mediaM  {  margin-left: calc(-1 * var(--size-large)); }
  .marginleft-minusxlarge-mediaM   {  margin-left: calc(-1 * var(--size-xlarge)); }
  .marginleft-minusxxlarge-mediaM  {  margin-left: calc(-1 * var(--size-xxlarge)); }
  .marginleft-minusxxxlarge-mediaM { margin-left: calc(-1 * var(--size-xxxlarge)); }

  .marginright-minusxxxsmall-mediaM {  margin-right: calc(-1 * var(--size-xxxsmall)); }
  .marginright-minusxxsmall-mediaM {  margin-right: calc(-1 * var(--size-xxsmall)); }
  .marginright-minusxsmall-mediaM {  margin-right: calc(-1 * var(--size-xsmall)); }
  .marginright-minussmall-mediaM  {  margin-right: calc(-1 * var(--size-small)); }
  .marginright-minusmedium-mediaM  {  margin-right: calc(-1 * var(--size-medium)); }
  .marginright-minuslarge-mediaM  {  margin-right: calc(-1 * var(--size-large)); }
  .marginright-minusxlarge-mediaM   {  margin-right: calc(-1 * var(--size-xlarge)); }
  .marginright-minusxxlarge-mediaM  {  margin-right: calc(-1 * var(--size-xxlarge)); }
  .marginright-minusxxxlarge-mediaM { margin-right: calc(-1 * var(--size-xxxlarge)); }

  .marginbottom-minusxxxsmall-mediaM {  margin-bottom: calc(-1 * var(--size-xxxsmall)); }
  .marginbottom-minusxxsmall-mediaM {  margin-bottom: calc(-1 * var(--size-xxsmall)); }
  .marginbottom-minusxsmall-mediaM {  margin-bottom: calc(-1 * var(--size-xsmall)); }
  .marginbottom-minussmall-mediaM  {  margin-bottom: calc(-1 * var(--size-small)); }
  .marginbottom-minusmedium-mediaM  {  margin-bottom: calc(-1 * var(--size-medium)); }
  .marginbottom-minuslarge-mediaM  {  margin-bottom: calc(-1 * var(--size-large)); }
  .marginbottom-minusxlarge-mediaM   {  margin-bottom: calc(-1 * var(--size-xlarge)); }
  .marginbottom-minusxxlarge-mediaM  {  margin-bottom: calc(-1 * var(--size-xxlarge)); }
  .marginbottom-minusxxxlarge-mediaM { margin-bottom: calc(-1 * var(--size-xxxlarge)); }

  .margintop-minusxxxsmall-mediaM {  margin-top: calc(-1 * var(--size-xxxsmall)); }
  .margintop-minusxxsmall-mediaM {  margin-top: calc(-1 * var(--size-xxsmall)); }
  .margintop-minusxsmall-mediaM {  margin-top: calc(-1 * var(--size-xsmall)); }
  .margintop-minussmall-mediaM  {  margin-top: calc(-1 * var(--size-small)); }
  .margintop-minusmedium-mediaM  {  margin-top: calc(-1 * var(--size-medium)); }
  .margintop-minuslarge-mediaM  {  margin-top: calc(-1 * var(--size-large)); }
  .margintop-minusxlarge-mediaM   {  margin-top: calc(-1 * var(--size-xlarge)); }
  .margintop-minusxxlarge-mediaM  {  margin-top: calc(-1 * var(--size-xxlarge)); }
  .margintop-minusxxxlarge-mediaM { margin-top: calc(-1 * var(--size-xxxlarge)); }
}

@media (--breakpoint-large) {

  .margin-minus1-mediaL { margin: calc(-1 * var(--spacing-1)); }
  .margin-minus2-mediaL { margin: calc(-1 * var(--spacing-2)); }
  .margin-minus3-mediaL { margin: calc(-1 * var(--spacing-3)); }
  .margin-minus4-mediaL { margin: calc(-1 * var(--spacing-4)); }
  .margin-minus5-mediaL { margin: calc(-1 * var(--spacing-5)); }
  .margin-minus6-mediaL { margin: calc(-1 * var(--spacing-6)); }
  .margin-minus7-mediaL { margin: calc(-1 * var(--spacing-7)); }

  .marginleft-minus1-mediaL { margin-left: calc(-1 * var(--spacing-1)); }
  .marginleft-minus2-mediaL { margin-left: calc(-1 * var(--spacing-2)); }
  .marginleft-minus3-mediaL { margin-left: calc(-1 * var(--spacing-3)); }
  .marginleft-minus4-mediaL { margin-left: calc(-1 * var(--spacing-4)); }
  .marginleft-minus5-mediaL { margin-left: calc(-1 * var(--spacing-5)); }
  .marginleft-minus6-mediaL { margin-left: calc(-1 * var(--spacing-6)); }
  .marginleft-minus7-mediaL { margin-left: calc(-1 * var(--spacing-7)); }

  .marginright-minus1-mediaL { margin-right: calc(-1 * var(--spacing-1)); }
  .marginright-minus2-mediaL { margin-right: calc(-1 * var(--spacing-2)); }
  .marginright-minus3-mediaL { margin-right: calc(-1 * var(--spacing-3)); }
  .marginright-minus4-mediaL { margin-right: calc(-1 * var(--spacing-4)); }
  .marginright-minus5-mediaL { margin-right: calc(-1 * var(--spacing-5)); }
  .marginright-minus6-mediaL { margin-right: calc(-1 * var(--spacing-6)); }
  .marginright-minus7-mediaL { margin-right: calc(-1 * var(--spacing-7)); }

  .marginbottom-minus1-mediaL { margin-bottom: calc(-1 * var(--spacing-1)); }
  .marginbottom-minus2-mediaL { margin-bottom: calc(-1 * var(--spacing-2)); }
  .marginbottom-minus3-mediaL { margin-bottom: calc(-1 * var(--spacing-3)); }
  .marginbottom-minus4-mediaL { margin-bottom: calc(-1 * var(--spacing-4)); }
  .marginbottom-minus5-mediaL { margin-bottom: calc(-1 * var(--spacing-5)); }
  .marginbottom-minus6-mediaL { margin-bottom: calc(-1 * var(--spacing-6)); }
  .marginbottom-minus7-mediaL { margin-bottom: calc(-1 * var(--spacing-7)); }

  .margintop-minus1-mediaL { margin-top: calc(-1 * var(--spacing-1)); }
  .margintop-minus2-mediaL { margin-top: calc(-1 * var(--spacing-2)); }
  .margintop-minus3-mediaL { margin-top: calc(-1 * var(--spacing-3)); }
  .margintop-minus4-mediaL { margin-top: calc(-1 * var(--spacing-4)); }
  .margintop-minus5-mediaL { margin-top: calc(-1 * var(--spacing-5)); }
  .margintop-minus6-mediaL { margin-top: calc(-1 * var(--spacing-6)); }
  .margintop-minus7-mediaL { margin-top: calc(-1 * var(--spacing-7)); }

  .margin-minusxxxsmall-mediaL {  margin: calc(-1 * var(--size-xxxsmall)); }
  .margin-minusxxsmall-mediaL {  margin: calc(-1 * var(--size-xxsmall)); }
  .margin-minusxsmall-mediaL {  margin: calc(-1 * var(--size-xsmall)); }
  .margin-minussmall-mediaL  {  margin: calc(-1 * var(--size-small)); }
  .margin-minusmedium-mediaL  {  margin: calc(-1 * var(--size-medium)); }
  .margin-minuslarge-mediaL  {  margin: calc(-1 * var(--size-large)); }
  .margin-minusxlarge-mediaL   {  margin: calc(-1 * var(--size-xlarge)); }
  .margin-minusxxlarge-mediaL  {  margin: calc(-1 * var(--size-xxlarge)); }
  .margin-minusxxxlarge-mediaL { margin: calc(-1 * var(--size-xxxlarge)); }

  .marginleft-minusxxxsmall-mediaL {  margin-left: calc(-1 * var(--size-xxxsmall)); }
  .marginleft-minusxxsmall-mediaL {  margin-left: calc(-1 * var(--size-xxsmall)); }
  .marginleft-minusxsmall-mediaL {  margin-left: calc(-1 * var(--size-xsmall)); }
  .marginleft-minussmall-mediaL  {  margin-left: calc(-1 * var(--size-small)); }
  .marginleft-minusmedium-mediaL  {  margin-left: calc(-1 * var(--size-medium)); }
  .marginleft-minuslarge-mediaL  {  margin-left: calc(-1 * var(--size-large)); }
  .marginleft-minusxlarge-mediaL   {  margin-left: calc(-1 * var(--size-xlarge)); }
  .marginleft-minusxxlarge-mediaL  {  margin-left: calc(-1 * var(--size-xxlarge)); }
  .marginleft-minusxxxlarge-mediaL { margin-left: calc(-1 * var(--size-xxxlarge)); }

  .marginright-minusxxxsmall-mediaL {  margin-right: calc(-1 * var(--size-xxxsmall)); }
  .marginright-minusxxsmall-mediaL {  margin-right: calc(-1 * var(--size-xxsmall)); }
  .marginright-minusxsmall-mediaL {  margin-right: calc(-1 * var(--size-xsmall)); }
  .marginright-minussmall-mediaL  {  margin-right: calc(-1 * var(--size-small)); }
  .marginright-minusmedium-mediaL  {  margin-right: calc(-1 * var(--size-medium)); }
  .marginright-minuslarge-mediaL  {  margin-right: calc(-1 * var(--size-large)); }
  .marginright-minusxlarge-mediaL   {  margin-right: calc(-1 * var(--size-xlarge)); }
  .marginright-minusxxlarge-mediaL  {  margin-right: calc(-1 * var(--size-xxlarge)); }
  .marginright-minusxxxlarge-mediaL { margin-right: calc(-1 * var(--size-xxxlarge)); }

  .marginbottom-minusxxxsmall-mediaL {  margin-bottom: calc(-1 * var(--size-xxxsmall)); }
  .marginbottom-minusxxsmall-mediaL {  margin-bottom: calc(-1 * var(--size-xxsmall)); }
  .marginbottom-minusxsmall-mediaL {  margin-bottom: calc(-1 * var(--size-xsmall)); }
  .marginbottom-minussmall-mediaL  {  margin-bottom: calc(-1 * var(--size-small)); }
  .marginbottom-minusmedium-mediaL  {  margin-bottom: calc(-1 * var(--size-medium)); }
  .marginbottom-minuslarge-mediaL  {  margin-bottom: calc(-1 * var(--size-large)); }
  .marginbottom-minusxlarge-mediaL   {  margin-bottom: calc(-1 * var(--size-xlarge)); }
  .marginbottom-minusxxlarge-mediaL  {  margin-bottom: calc(-1 * var(--size-xxlarge)); }
  .marginbottom-minusxxxlarge-mediaL { margin-bottom: calc(-1 * var(--size-xxxlarge)); }

  .margintop-minusxxxsmall-mediaL {  margin-top: calc(-1 * var(--size-xxxsmall)); }
  .margintop-minusxxsmall-mediaL {  margin-top: calc(-1 * var(--size-xxsmall)); }
  .margintop-minusxsmall-mediaL {  margin-top: calc(-1 * var(--size-xsmall)); }
  .margintop-minussmall-mediaL  {  margin-top: calc(-1 * var(--size-small)); }
  .margintop-minusmedium-mediaL  {  margin-top: calc(-1 * var(--size-medium)); }
  .margintop-minuslarge-mediaL  {  margin-top: calc(-1 * var(--size-large)); }
  .margintop-minusxlarge-mediaL   {  margin-top: calc(-1 * var(--size-xlarge)); }
  .margintop-minusxxlarge-mediaL  {  margin-top: calc(-1 * var(--size-xxlarge)); }
  .margintop-minusxxxlarge-mediaL { margin-top: calc(-1 * var(--size-xxxlarge)); }
}

@media (--breakpoint-xlarge) {

  .margin-minus1-mediaXL { margin: calc(-1 * var(--spacing-1)); }
  .margin-minus2-mediaXL { margin: calc(-1 * var(--spacing-2)); }
  .margin-minus3-mediaXL { margin: calc(-1 * var(--spacing-3)); }
  .margin-minus4-mediaXL { margin: calc(-1 * var(--spacing-4)); }
  .margin-minus5-mediaXL { margin: calc(-1 * var(--spacing-5)); }
  .margin-minus6-mediaXL { margin: calc(-1 * var(--spacing-6)); }
  .margin-minus7-mediaXL { margin: calc(-1 * var(--spacing-7)); }

  .marginleft-minus1-mediaXL { margin-left: calc(-1 * var(--spacing-1)); }
  .marginleft-minus2-mediaXL { margin-left: calc(-1 * var(--spacing-2)); }
  .marginleft-minus3-mediaXL { margin-left: calc(-1 * var(--spacing-3)); }
  .marginleft-minus4-mediaXL { margin-left: calc(-1 * var(--spacing-4)); }
  .marginleft-minus5-mediaXL { margin-left: calc(-1 * var(--spacing-5)); }
  .marginleft-minus6-mediaXL { margin-left: calc(-1 * var(--spacing-6)); }
  .marginleft-minus7-mediaXL { margin-left: calc(-1 * var(--spacing-7)); }

  .marginright-minus1-mediaXL { margin-right: calc(-1 * var(--spacing-1)); }
  .marginright-minus2-mediaXL { margin-right: calc(-1 * var(--spacing-2)); }
  .marginright-minus3-mediaXL { margin-right: calc(-1 * var(--spacing-3)); }
  .marginright-minus4-mediaXL { margin-right: calc(-1 * var(--spacing-4)); }
  .marginright-minus5-mediaXL { margin-right: calc(-1 * var(--spacing-5)); }
  .marginright-minus6-mediaXL { margin-right: calc(-1 * var(--spacing-6)); }
  .marginright-minus7-mediaXL { margin-right: calc(-1 * var(--spacing-7)); }

  .marginbottom-minus1-mediaXL { margin-bottom: calc(-1 * var(--spacing-1)); }
  .marginbottom-minus2-mediaXL { margin-bottom: calc(-1 * var(--spacing-2)); }
  .marginbottom-minus3-mediaXL { margin-bottom: calc(-1 * var(--spacing-3)); }
  .marginbottom-minus4-mediaXL { margin-bottom: calc(-1 * var(--spacing-4)); }
  .marginbottom-minus5-mediaXL { margin-bottom: calc(-1 * var(--spacing-5)); }
  .marginbottom-minus6-mediaXL { margin-bottom: calc(-1 * var(--spacing-6)); }
  .marginbottom-minus7-mediaXL { margin-bottom: calc(-1 * var(--spacing-7)); }

  .margintop-minus1-mediaXL { margin-top: calc(-1 * var(--spacing-1)); }
  .margintop-minus2-mediaXL { margin-top: calc(-1 * var(--spacing-2)); }
  .margintop-minus3-mediaXL { margin-top: calc(-1 * var(--spacing-3)); }
  .margintop-minus4-mediaXL { margin-top: calc(-1 * var(--spacing-4)); }
  .margintop-minus5-mediaXL { margin-top: calc(-1 * var(--spacing-5)); }
  .margintop-minus6-mediaXL { margin-top: calc(-1 * var(--spacing-6)); }
  .margintop-minus7-mediaXL { margin-top: calc(-1 * var(--spacing-7)); }

  .margin-minusxxxsmall-mediaXL {  margin: calc(-1 * var(--size-xxxsmall)); }
  .margin-minusxxsmall-mediaXL {  margin: calc(-1 * var(--size-xxsmall)); }
  .margin-minusxsmall-mediaXL {  margin: calc(-1 * var(--size-xsmall)); }
  .margin-minussmall-mediaXL  {  margin: calc(-1 * var(--size-small)); }
  .margin-minusmedium-mediaXL  {  margin: calc(-1 * var(--size-medium)); }
  .margin-minuslarge-mediaXL  {  margin: calc(-1 * var(--size-large)); }
  .margin-minusxlarge-mediaXL   {  margin: calc(-1 * var(--size-xlarge)); }
  .margin-minusxxlarge-mediaXL  {  margin: calc(-1 * var(--size-xxlarge)); }
  .margin-minusxxxlarge-mediaXL { margin: calc(-1 * var(--size-xxxlarge)); }

  .marginleft-minusxxxsmall-mediaXL {  margin-left: calc(-1 * var(--size-xxxsmall)); }
  .marginleft-minusxxsmall-mediaXL {  margin-left: calc(-1 * var(--size-xxsmall)); }
  .marginleft-minusxsmall-mediaXL {  margin-left: calc(-1 * var(--size-xsmall)); }
  .marginleft-minussmall-mediaXL  {  margin-left: calc(-1 * var(--size-small)); }
  .marginleft-minusmedium-mediaXL  {  margin-left: calc(-1 * var(--size-medium)); }
  .marginleft-minuslarge-mediaXL  {  margin-left: calc(-1 * var(--size-large)); }
  .marginleft-minusxlarge-mediaXL   {  margin-left: calc(-1 * var(--size-xlarge)); }
  .marginleft-minusxxlarge-mediaXL  {  margin-left: calc(-1 * var(--size-xxlarge)); }
  .marginleft-minusxxxlarge-mediaXL { margin-left: calc(-1 * var(--size-xxxlarge)); }

  .marginright-minusxxxsmall-mediaXL {  margin-right: calc(-1 * var(--size-xxxsmall)); }
  .marginright-minusxxsmall-mediaXL {  margin-right: calc(-1 * var(--size-xxsmall)); }
  .marginright-minusxsmall-mediaXL {  margin-right: calc(-1 * var(--size-xsmall)); }
  .marginright-minussmall-mediaXL  {  margin-right: calc(-1 * var(--size-small)); }
  .marginright-minusmedium-mediaXL  {  margin-right: calc(-1 * var(--size-medium)); }
  .marginright-minuslarge-mediaXL  {  margin-right: calc(-1 * var(--size-large)); }
  .marginright-minusxlarge-mediaXL   {  margin-right: calc(-1 * var(--size-xlarge)); }
  .marginright-minusxxlarge-mediaXL  {  margin-right: calc(-1 * var(--size-xxlarge)); }
  .marginright-minusxxxlarge-mediaXL { margin-right: calc(-1 * var(--size-xxxlarge)); }

  .marginbottom-minusxxxsmall-mediaXL {  margin-bottom: calc(-1 * var(--size-xxxsmall)); }
  .marginbottom-minusxxsmall-mediaXL {  margin-bottom: calc(-1 * var(--size-xxsmall)); }
  .marginbottom-minusxsmall-mediaXL {  margin-bottom: calc(-1 * var(--size-xsmall)); }
  .marginbottom-minussmall-mediaXL  {  margin-bottom: calc(-1 * var(--size-small)); }
  .marginbottom-minusmedium-mediaXL  {  margin-bottom: calc(-1 * var(--size-medium)); }
  .marginbottom-minuslarge-mediaXL  {  margin-bottom: calc(-1 * var(--size-large)); }
  .marginbottom-minusxlarge-mediaXL   {  margin-bottom: calc(-1 * var(--size-xlarge)); }
  .marginbottom-minusxxlarge-mediaXL  {  margin-bottom: calc(-1 * var(--size-xxlarge)); }
  .marginbottom-minusxxxlarge-mediaXL { margin-bottom: calc(-1 * var(--size-xxxlarge)); }

  .margintop-minusxxxsmall-mediaXL {  margin-top: calc(-1 * var(--size-xxxsmall)); }
  .margintop-minusxxsmall-mediaXL {  margin-top: calc(-1 * var(--size-xxsmall)); }
  .margintop-minusxsmall-mediaXL {  margin-top: calc(-1 * var(--size-xsmall)); }
  .margintop-minussmall-mediaXL  {  margin-top: calc(-1 * var(--size-small)); }
  .margintop-minusmedium-mediaXL  {  margin-top: calc(-1 * var(--size-medium)); }
  .margintop-minuslarge-mediaXL  {  margin-top: calc(-1 * var(--size-large)); }
  .margintop-minusxlarge-mediaXL   {  margin-top: calc(-1 * var(--size-xlarge)); }
  .margintop-minusxxlarge-mediaXL  {  margin-top: calc(-1 * var(--size-xxlarge)); }
  .margintop-minusxxxlarge-mediaXL { margin-top: calc(-1 * var(--size-xxxlarge)); }
}
