/*

  ORDER

*/

.order-0 { order: 0; }
.order-1 { order: 1; }
.order-2 { order: 2; }
.order-3 { order: 3; }
.order-4 { order: 4; }
.order-5 { order: 5; }
.order-6 { order: 6; }
.order-7 { order: 7; }
.order-8 { order: 8; }
.order-last,
.order-99999 { order: 99999; }


@media (--breakpoint-small) {
  .order-0-mediaS { order: 0; }
  .order-1-mediaS { order: 1; }
  .order-2-mediaS { order: 2; }
  .order-3-mediaS { order: 3; }
  .order-4-mediaS { order: 4; }
  .order-5-mediaS { order: 5; }
  .order-6-mediaS { order: 6; }
  .order-7-mediaS { order: 7; }
  .order-8-mediaS { order: 8; }
  .order-last-mediaS,
  .order-99999-mediaS { order: 99999; }
}

@media (--breakpoint-medium) {
  .order-0-mediaM { order: 0; }
  .order-1-mediaM { order: 1; }
  .order-2-mediaM { order: 2; }
  .order-3-mediaM { order: 3; }
  .order-4-mediaL { order: 4; }
  .order-5-mediaM { order: 5; }
  .order-6-mediaM { order: 6; }
  .order-7-mediaM { order: 7; }
  .order-8-mediaM { order: 8; }
  .order-last-mediaM,
  .order-99999-mediaM { order: 99999; }
}

@media (--breakpoint-large) {
  .order-0-mediaL { order: 0; }
  .order-1-mediaL { order: 1; }
  .order-2-mediaL { order: 2; }
  .order-3-mediaL { order: 3; }
  .order-4-mediaL { order: 4; }
  .order-5-mediaL { order: 5; }
  .order-6-mediaL { order: 6; }
  .order-7-mediaL { order: 7; }
  .order-8-mediaL { order: 8; }
  .order-last-mediaL,
  .order-99999-mediaL { order: 99999; }
}

@media (--breakpoint-xlarge) {
  .order-0-mediaXL { order: 0; }
  .order-1-mediaXL { order: 1; }
  .order-2-mediaXL { order: 2; }
  .order-3-mediaXL { order: 3; }
  .order-4-mediaXL { order: 4; }
  .order-5-mediaXL { order: 5; }
  .order-6-mediaXL { order: 6; }
  .order-7-mediaXL { order: 7; }
  .order-8-mediaXL { order: 8; }
  .order-last-mediaXL,
  .order-99999-mediaXL { order: 99999; }
}
