/*

  OUTLINES

*/

.outline { outline: var(--border-width, 1px) solid currentColor; }
.outline-color { outline: var(--border-width, 1px) solid var(--border-color, gray); }
.outline-transparent { outline: var(--border-width, 1px) solid transparent; }
.outline-0 { outline: 0; }

@media (--breakpoint-small) {
  .outline-mediaS             { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-mediaS       { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-mediaS { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-mediaS           { outline: 0; }
}

@media (--breakpoint-medium) {
  .outline-mediaM             { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-mediaM       { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-mediaM { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-mediaM           { outline: 0; }
}

@media (--breakpoint-large) {
  .outline-mediaL             { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-mediaL       { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-mediaL { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-mediaL           { outline: 0; }
}

@media (--breakpoint-xlarge) {
  .outline-mediaXL             { outline: var(--border-width, 1px) solid currentColor; }
  .outline-color-mediaXL       { outline: var(--border-width, 1px) solid var(--border-color, gray); }
  .outline-transparent-mediaXL { outline: var(--border-width, 1px) solid transparent; }
  .outline-0-mediaXL           { outline: 0; }
}
