/*

    OVERFLOW

 */

.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflowx-visible { overflow-x: visible; }
.overflowx-hidden { overflow-x: hidden; }
.overflowx-scroll { overflow-x: scroll; }
.overflowx-auto { overflow-x: auto; }

.overflowy-visible { overflow-y: visible; }
.overflowy-hidden { overflow-y: hidden; }
.overflowy-scroll { overflow-y: scroll; }
.overflowy-auto { overflow-y: auto; }

@media (--breakpoint-not-small) {
  .overflow-visible-ns { overflow: visible; }
  .overflow-hidden-ns { overflow: hidden; }
  .overflow-scroll-ns { overflow: scroll; }
  .overflow-auto-ns { overflow: auto; }
  .overflowx-visible-ns { overflow-x: visible; }
  .overflowx-hidden-ns { overflow-x: hidden; }
  .overflowx-scroll-ns { overflow-x: scroll; }
  .overflowx-auto-ns { overflow-x: auto; }

  .overflowy-visible-ns { overflow-y: visible; }
  .overflowy-hidden-ns { overflow-y: hidden; }
  .overflowy-scroll-ns { overflow-y: scroll; }
  .overflowy-auto-ns { overflow-y: auto; }
}

@media (--breakpoint-medium) {
  .overflow-visible-m { overflow: visible; }
  .overflow-hidden-m { overflow: hidden; }
  .overflow-scroll-m { overflow: scroll; }
  .overflow-auto-m { overflow: auto; }

  .overflowx-visible-m { overflow-x: visible; }
  .overflowx-hidden-m { overflow-x: hidden; }
  .overflowx-scroll-m { overflow-x: scroll; }
  .overflowx-auto-m { overflow-x: auto; }

  .overflowy-visible-m { overflow-y: visible; }
  .overflowy-hidden-m { overflow-y: hidden; }
  .overflowy-scroll-m { overflow-y: scroll; }
  .overflowy-auto-m { overflow-y: auto; }
}

@media (--breakpoint-large) {
  .overflow-visible-l { overflow: visible; }
  .overflow-hidden-l { overflow: hidden; }
  .overflow-scroll-l { overflow: scroll; }
  .overflow-auto-l { overflow: auto; }

  .overflowx-visible-l { overflow-x: visible; }
  .overflowx-hidden-l { overflow-x: hidden; }
  .overflowx-scroll-l { overflow-x: scroll; }
  .overflowx-auto-l { overflow-x: auto; }

  .overflowy-visible-l { overflow-y: visible; }
  .overflowy-hidden-l { overflow-y: hidden; }
  .overflowy-scroll-l { overflow-y: scroll; }
  .overflowy-auto-l { overflow-y: auto; }
}
