/*

    OVERFLOW

 */

.overflow-visible { overflow: visible; }
.overflow-hidden { overflow: hidden; }
.overflow-scroll { overflow: scroll; }
.overflow-auto { overflow: auto; }

.overflowx-visible { overflow-x: visible; }
.overflowx-hidden { overflow-x: hidden; }
.overflowx-scroll { overflow-x: scroll; }
.overflowx-auto { overflow-x: auto; }

.overflowy-visible { overflow-y: visible; }
.overflowy-hidden { overflow-y: hidden; }
.overflowy-scroll { overflow-y: scroll; }
.overflowy-auto { overflow-y: auto; }

@media (--breakpoint-small) {
  .overflow-visible-mediaS { overflow: visible; }
  .overflow-hidden-mediaS { overflow: hidden; }
  .overflow-scroll-mediaS { overflow: scroll; }
  .overflow-auto-mediaS { overflow: auto; }

  .overflowx-visible-mediaS { overflow-x: visible; }
  .overflowx-hidden-mediaS { overflow-x: hidden; }
  .overflowx-scroll-mediaS { overflow-x: scroll; }
  .overflowx-auto-mediaS { overflow-x: auto; }

  .overflowy-visible-mediaS { overflow-y: visible; }
  .overflowy-hidden-mediaS { overflow-y: hidden; }
  .overflowy-scroll-mediaS { overflow-y: scroll; }
  .overflowy-auto-mediaS { overflow-y: auto; }
}

@media (--breakpoint-medium) {
  .overflow-visible-mediaM { overflow: visible; }
  .overflow-hidden-mediaM { overflow: hidden; }
  .overflow-scroll-mediaM { overflow: scroll; }
  .overflow-auto-mediaM { overflow: auto; }

  .overflowx-visible-mediaM { overflow-x: visible; }
  .overflowx-hidden-mediaM { overflow-x: hidden; }
  .overflowx-scroll-mediaM { overflow-x: scroll; }
  .overflowx-auto-mediaM { overflow-x: auto; }

  .overflowy-visible-mediaM { overflow-y: visible; }
  .overflowy-hidden-mediaM { overflow-y: hidden; }
  .overflowy-scroll-mediaM { overflow-y: scroll; }
  .overflowy-auto-mediaM { overflow-y: auto; }
}

@media (--breakpoint-large) {
  .overflow-visible-mediaL { overflow: visible; }
  .overflow-hidden-mediaL { overflow: hidden; }
  .overflow-scroll-mediaL { overflow: scroll; }
  .overflow-auto-mediaL { overflow: auto; }

  .overflowx-visible-mediaL { overflow-x: visible; }
  .overflowx-hidden-mediaL { overflow-x: hidden; }
  .overflowx-scroll-mediaL { overflow-x: scroll; }
  .overflowx-auto-mediaL { overflow-x: auto; }

  .overflowy-visible-mediaL { overflow-y: visible; }
  .overflowy-hidden-mediaL { overflow-y: hidden; }
  .overflowy-scroll-mediaL { overflow-y: scroll; }
  .overflowy-auto-mediaL { overflow-y: auto; }
}

@media (--breakpoint-xlarge) {
  .overflow-visible-mediaXL { overflow: visible; }
  .overflow-hidden-mediaXL { overflow: hidden; }
  .overflow-scroll-mediaXL { overflow: scroll; }
  .overflow-auto-mediaXL { overflow: auto; }

  .overflowx-visible-mediaXL { overflow-x: visible; }
  .overflowx-hidden-mediaXL { overflow-x: hidden; }
  .overflowx-scroll-mediaXL { overflow-x: scroll; }
  .overflowx-auto-mediaXL { overflow-x: auto; }

  .overflowy-visible-mediaXL { overflow-y: visible; }
  .overflowy-hidden-mediaXL { overflow-y: hidden; }
  .overflowy-scroll-mediaXL { overflow-y: scroll; }
  .overflowy-auto-mediaXL { overflow-y: auto; }
}
