/*

   ROTATIONS

*/

.transform-rotate45deg  { transform: rotate(45deg); }
.transform-rotate90deg  { transform: rotate(90deg); }
.transform-rotate135deg { transform: rotate(135deg); }
.transform-rotate180deg { transform: rotate(180deg); }
.transform-rotate225deg { transform: rotate(225deg); }
.transform-rotate270deg { transform: rotate(270deg); }
.transform-rotate315deg { transform: rotate(315deg); }

@media (--breakpoint-small){
  .transform-rotate45deg-mediaS  { transform: rotate(45deg); }
  .transform-rotate90deg-mediaS  { transform: rotate(90deg); }
  .transform-rotate135deg-mediaS { transform: rotate(135deg); }
  .transform-rotate180deg-mediaS { transform: rotate(180deg); }
  .transform-rotate225deg-mediaS { transform: rotate(225deg); }
  .transform-rotate270deg-mediaS { transform: rotate(270deg); }
  .transform-rotate315deg-mediaS { transform: rotate(315deg); }
}

@media (--breakpoint-medium){
  .transform-rotate45deg-mediaM  { transform: rotate(45deg); }
  .transform-rotate90deg-mediaM  { transform: rotate(90deg); }
  .transform-rotate135deg-mediaM { transform: rotate(135deg); }
  .transform-rotate180deg-mediaM { transform: rotate(180deg); }
  .transform-rotate225deg-mediaM { transform: rotate(225deg); }
  .transform-rotate270deg-mediaM { transform: rotate(270deg); }
  .transform-rotate315deg-mediaM { transform: rotate(315deg); }
}

@media (--breakpoint-large){
  .transform-rotate45deg-mediaL  { transform: rotate(45deg); }
  .transform-rotate90deg-mediaL  { transform: rotate(90deg); }
  .transform-rotate135deg-mediaL { transform: rotate(135deg); }
  .transform-rotate180deg-mediaL { transform: rotate(180deg); }
  .transform-rotate225deg-mediaL { transform: rotate(225deg); }
  .transform-rotate270deg-mediaL { transform: rotate(270deg); }
  .transform-rotate315deg-mediaL { transform: rotate(315deg); }
}

@media (--breakpoint-xlarge){
  .transform-rotate45deg-mediaXL  { transform: rotate(45deg); }
  .transform-rotate90deg-mediaXL  { transform: rotate(90deg); }
  .transform-rotate135deg-mediaXL { transform: rotate(135deg); }
  .transform-rotate180deg-mediaXL { transform: rotate(180deg); }
  .transform-rotate225deg-mediaXL { transform: rotate(225deg); }
  .transform-rotate270deg-mediaXL { transform: rotate(270deg); }
  .transform-rotate315deg-mediaXL { transform: rotate(315deg); }
}
