/*

   SKINS
   Docs: http://tachyons.io/docs/themes/skins/

   Classes for setting foreground and background colors on elements.
   If you haven't declared a border color, but set border on an element, it will 
   be set to the current text color. 

*/

/* Text colors */

.black90 {         color: var(--black-90); }
.black80 {         color: var(--black-80); }
.black70 {         color: var(--black-70); }
.black60 {         color: var(--black-60); }
.black50 {         color: var(--black-50); }
.black40 {         color: var(--black-40); }
.black30 {         color: var(--black-30); }
.black20 {         color: var(--black-20); }
.black10 {         color: var(--black-10); }
.black05 {         color: var(--black-05); }

.white90 {         color: var(--white-90); }
.white80 {         color: var(--white-80); }
.white70 {         color: var(--white-70); }
.white60 {         color: var(--white-60); }
.white50 {         color: var(--white-50); }
.white40 {         color: var(--white-40); }
.white30 {         color: var(--white-30); }
.white20 {         color: var(--white-20); }
.white10 {         color: var(--white-10); }

.black                  { color: var(--black); }
.nearblack              { color: var(--near-black);}
.darkgray, .darkgrey    { color: var(--dark-gray); }
.midgray, .midgrey      { color: var(--mid-gray); }
.gray, .grey            { color: var(--gray); }
.silver                 { color: var(--silver); }
.lightsilver            { color: var(--light-silver); }
.lightgray, .lightgrey  { color: var(--light-gray); }
.moongray, .moongrey    { color: var(--moon-gray); }
.nearwhite              { color: var(--near-white); }
.white                  { color: var(--white); }

.darkred { color: var(--dark-red); }
.red { color: var(--red); }
.lightred { color: var(--light-red); }
.orange { color: var(--orange); }
.gold { color: var(--gold); }
.yellow { color: var(--yellow); }
.lightyellow { color: var(--light-yellow); }
.purple { color: var(--purple); }
.lightpurple { color: var(--light-purple); }
.darkpink { color: var(--dark-pink); }
.hotpink { color:  var(--hot-pink); }
.pink { color: var(--pink); }
.lightpink { color: var(--light-pink); }
.darkgreen { color: var(--dark-green); }
.green { color: var(--green); }
.lightgreen { color: var(--light-green); }
.navy { color: var(--navy); }
.darkblue { color: var(--dark-blue); }
.blue { color: var(--blue); }
.lightblue { color: var(--light-blue); }
.lightestblue { color: var(--lightest-blue); }
.washedblue { color: var(--washed-blue); }
.washedgreen { color: var(--washed-green); }
.washedyellow { color: var(--washed-yellow); }
.washedred { color: var(--washed-red); }
.color-inherit { color: inherit; }

.backgroundcolor-black90 {    background-color: var(--black-90); }
.backgroundcolor-black80 {    background-color: var(--black-80); }
.backgroundcolor-black70 {    background-color: var(--black-70); }
.backgroundcolor-black60 {    background-color: var(--black-60); }
.backgroundcolor-black50 {    background-color: var(--black-50); }
.backgroundcolor-black40 {    background-color: var(--black-40); }
.backgroundcolor-black30 {    background-color: var(--black-30); }
.backgroundcolor-black20 {    background-color: var(--black-20); }
.backgroundcolor-black10 {    background-color: var(--black-10); }
.backgroundcolor-black05 {    background-color: var(--black-05); }
.backgroundcolor-white90 {    background-color: var(--white-90); }
.backgroundcolor-white80 {    background-color: var(--white-80); }
.backgroundcolor-white70 {    background-color: var(--white-70); }
.backgroundcolor-white60 {    background-color: var(--white-60); }
.backgroundcolor-white50 {    background-color: var(--white-50); }
.backgroundcolor-white40 {    background-color: var(--white-40); }
.backgroundcolor-white30 {    background-color: var(--white-30); }
.backgroundcolor-white20 {    background-color: var(--white-20); }
.backgroundcolor-white10 {    background-color: var(--white-10); }



/* Background colors */

.backgroundcolor-black {        background-color: var(--black); }
.backgroundcolor-nearblack {    background-color: var(--near-black); }
.backgroundcolor-darkgray,
.backgroundcolor-darkgrey {     background-color: var(--dark-gray); }
.backgroundcolor-midgray,
.backgroundcolor-midgrey {      background-color: var(--mid-gray); }
.backgroundcolor-gray,
.backgroundcolor-grey {         background-color: var(--gray); }
.backgroundcolor-silver  {      background-color: var(--silver); }
.backgroundcolor-lightsilver {  background-color: var(--light-silver); }
.backgroundcolor-lightgray,
.backgroundcolor-lightgrey {    background-color: var(--light-gray); }
.backgroundcolor-nearwhite {    background-color: var(--near-white); }
.backgroundcolor-white {        background-color: var(--white); }
.backgroundcolor-transparent {  background-color: var(--transparent); }

.backgroundcolor-darkred { background-color: var(--dark-red); }
.backgroundcolor-red { background-color: var(--red); }
.backgroundcolor-lightred { background-color: var(--light-red); }
.backgroundcolor-orange { background-color: var(--orange); }
.backgroundcolor-gold { background-color: var(--gold); }
.backgroundcolor-yellow { background-color: var(--yellow); }
.backgroundcolor-lightyellow { background-color: var(--light-yellow); }
.backgroundcolor-purple { background-color: var(--purple); }
.backgroundcolor-lightpurple { background-color: var(--light-purple); }
.backgroundcolor-darkpink { background-color: var(--dark-pink); }
.backgroundcolor-hotpink { background-color:  var(--hot-pink); }
.backgroundcolor-pink { background-color: var(--pink); }
.backgroundcolor-lightpink { background-color: var(--light-pink); }
.backgroundcolor-darkgreen { background-color: var(--dark-green); }
.backgroundcolor-green { background-color: var(--green); }
.backgroundcolor-lightgreen { background-color: var(--light-green); }
.backgroundcolor-navy { background-color: var(--navy); }
.backgroundcolor-darkblue { background-color: var(--dark-blue); }
.backgroundcolor-blue { background-color: var(--blue); }
.backgroundcolor-lightblue { background-color: var(--light-blue); }
.backgroundcolor-lightestblue { background-color: var(--lightest-blue); }
.backgroundcolor-washedblue { background-color: var(--washed-blue); }
.backgroundcolor-washedgreen { background-color: var(--washed-green); }
.backgroundcolor-washedyellow { background-color: var(--washed-yellow); }
.backgroundcolor-washedred { background-color: var(--washed-red); }
.backgroundcolor-inherit { background-color: inherit; }
