/*

  TABLES
  Docs: http://tachyons.io/docs/elements/tables/

*/

.collapse,
.bordercollapse-collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.stripedlight:nth-child(odd),
.backgroundcolor-stripedlight:nth-child(odd) {
  background-color: var(--gray-10);
}

.striped--dark:nth-child(odd),
.backgroundcolor-stripeddark:nth-child(odd) {
  background-color: var(--gray-0);
}