/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

*/

.texttransform-capitalize { text-transform: capitalize; }
.texttransform-lowercase  { text-transform: lowercase; }
.texttransform-uppercase  { text-transform: uppercase; }
.texttransform-none       { text-transform: none; }

@media (--breakpoint-small) {
  .texttransform-capitalize-mediaS  { text-transform: capitalize; }
  .texttransform-lowercase-mediaS   { text-transform: lowercase; }
  .texttransform-uppercase-mediaS   { text-transform: uppercase; }
  .texttransform-none-mediaS        { text-transform: none; }
}

@media (--breakpoint-medium) {
  .texttransform-capitalize-mediaM { text-transform: capitalize; }
  .texttransform-lowercase-mediaM  { text-transform: lowercase; }
  .texttransform-uppercase-mediaM  { text-transform: uppercase; }
  .texttransform-none-mediaM       { text-transform: none; }
}

@media (--breakpoint-large) {
  .texttransform-capitalize-mediaL { text-transform: capitalize; }
  .texttransform-lowercase-mediaL  { text-transform: lowercase; }
  .texttransform-uppercase-mediaL  { text-transform: uppercase; }
  .texttransform-none-mediaL       { text-transform: none; }
}

@media (--breakpoint-xlarge) {
  .texttransform-capitalize-mediaXL { text-transform: capitalize; }
  .texttransform-lowercase-mediaXL  { text-transform: lowercase; }
  .texttransform-uppercase-mediaXL  { text-transform: uppercase; }
  .texttransform-none-mediaXL       { text-transform: none; }
}
