/*

   TEXT DECORATION
   Docs: http://tachyons.io/docs/typography/text-decoration/

*/

.strike, 
.strikethrough, 
.linethrough, 
.textdecoration-linethrough { text-decoration: line-through; }

.underline, 
.textdecoration-underline   { text-decoration: underline; }

.nounderline, 
.textdecoration-none        { text-decoration: none; }
