/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

*/

.textalign-left     { text-align: left; }
.textalign-right    { text-align: right; }
.textalign-center   { text-align: center; }
.textalign-justify  { text-align: justify; }

@media (--breakpoint-small) {
  .textalign-left-mediaS    { text-align: left; }
  .textalign-right-mediaS   { text-align: right; }
  .textalign-center-mediaS  { text-align: center; }
  .textalign-justify-mediaS { text-align: justify; }
}

@media (--breakpoint-medium) {
  .textalign-left-mediaM    { text-align: left; }
  .textalign-right-mediaM   { text-align: right; }
  .textalign-center-mediaM  { text-align: center; }
  .textalign-justify-mediaM { text-align: justify; }
}

@media (--breakpoint-large) {
  .textalign-left-mediaL    { text-align: left; }
  .textalign-right-mediaL   { text-align: right; }
  .textalign-center-mediaL  { text-align: center; }
  .textalign-justify-mediaL { text-align: justify; }
}

@media (--breakpoint-xlarge) {
  .textalign-left-mediaXL    { text-align: left; }
  .textalign-right-mediaXL   { text-align: right; }
  .textalign-center-mediaXL  { text-align: center; }
  .textalign-justify-mediaXL { text-align: justify; }
}