/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

*/

.texttransform-capitalize { text-transform: capitalize; }
.texttransform-lowercase { text-transform: lowercase; }
.texttransform-uppercase { text-transform: uppercase; }
.texttransform-none { text-transform: none; }

@media (--breakpoint-not-small) {
  .texttransform-capitalize-ns { text-transform: capitalize; }
  .texttransform-lowercase-ns { text-transform: lowercase; }
  .texttransform-uppercase-ns { text-transform: uppercase; }
  .texttransform-none-ns { text-transform: none; }
}

@media (--breakpoint-medium) {
  .texttransform-capitalize-m { text-transform: capitalize; }
  .texttransform-lowercase-m { text-transform: lowercase; }
  .texttransform-uppercase-m { text-transform: uppercase; }
  .texttransform-none-m { text-transform: none; }
}

@media (--breakpoint-large) {
  .texttransform-capitalize-l { text-transform: capitalize; }
  .texttransform-lowercase-l { text-transform: lowercase; }
  .texttransform-uppercase-l { text-transform: uppercase; }
  .texttransform-none-l { text-transform: none; }
}
