/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

*/



/* Measure is limited to ~66 characters */
.measure {
  max-width: 30em;
}

/* Measure is limited to ~80 characters */
.measure-wide, .measurewide {
  max-width: 34em;
}

/* Measure is limited to ~45 characters */
.measure-narrow, .measurenarrow {
  max-width: 20em;
}

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps, .smallcaps, .fontvariant-smallcaps {
  font-variant: small-caps;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (--breakpoint-not-small) {
  .measure-ns  {
    max-width: 30em;
  }
  .measure-wide-ns, .measurewide-ns {
    max-width: 34em;
  }
  .measure-narrow-ns, .measurenarrow-ns {
    max-width: 20em;
  }
  .indent-ns {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-ns, .smallcaps-ns, .fontvariant-smallcaps-ns {
    font-variant: small-caps;
  }
  .truncate-ns {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-medium) {
  .measure-m {
    max-width: 30em;
  }
  .measure-wide-m, .measurewide-m {
    max-width: 34em;
  }
  .measure-narrow-m, .measurenarrow-m {
    max-width: 20em;
  }
  .indent-m {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-m, .smallcaps-m, .fontvariant-smallcaps-m {
    font-variant: small-caps;
  }
  .truncate-m {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-large) {
  .measure-l {
    max-width: 30em;
  }
  .measure-wide-l, .measurewide-l {
    max-width: 34em;
  }
  .measure-narrow-l, .measurenarrow-l {
    max-width: 20em;
  }
  .indent-l {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-l, .smallcaps-l, .fontvariant-smallcaps-l {
    font-variant: small-caps;
  }
  .truncate-l {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
