/*

   TYPOGRAPHY
   http://tachyons.io/docs/typography/measure/

*/

/* Measure is limited to 66 characters */
.measure,
.maxwidth-measure {
  max-width: var(--measure, 66ch);
}

/* Measure is limited to ~80 characters */
.measure-wide,
.measurewide,
.maxwidth-measurewide {
  max-width: var(--measure-wide, 80ch);
}

/* Measure is limited to 45 characters */
.measure-narrow,
.measurenarrow,
.maxwidth-measurenarrow {
  max-width: var(--measure-narrow, 45ch);
}

/* Book paragraph style - paragraphs are indented with no vertical spacing. */
.indent,
.textindent-1 {
  text-indent: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.small-caps,
.smallcaps,
.fontvariant-smallcaps  {
  font-variant: small-caps;
}

/* Combine this class with a width to truncate text (or just leave as is to truncate at width of containing element. */
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


@media (--breakpoint-small) {

  .measure-mediaS,
  .maxwidth-measure-mediaS {
    max-width: var(--measure, 66ch);
  }
  .measure-wide-mediaS,
  .measurewide-mediaS,
  .maxwidth-measurewide-mediaS {
    max-width: var(--measure-wide, 80ch);
  }
  .measure-narrow-mediaS,
  .measurenarrow-mediaS,
  .maxwidth-measurenarrow-mediaS {
    max-width: var(--measure-narrow, 45ch);
  }
  .indent-mediaS,
  .textindent-1-mediaS {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-mediaS,
  .smallcaps-mediaS,
  .fontvariant-smallcaps-mediaS  {
    font-variant: small-caps;
  }
  .truncate-mediaS {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-medium) {

  .measure-mediaM,
  .maxwidth-measure-mediaM {
    max-width: var(--measure, 66ch);
  }
  .measure-wide-mediaM,
  .measurewide-mediaM,
  .maxwidth-measurewide-mediaM {
    max-width: var(--measure-wide, 80ch);
  }
  .measure-narrow-mediaM,
  .measurenarrow-mediaM,
  .maxwidth-measurenarrow-mediaM {
    max-width: var(--measure-narrow, 45ch);
  }
  .indent-mediaM,
  .textindent-1-mediaM {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-mediaM,
  .smallcaps-mediaM,
  .fontvariant-smallcaps-mediaM  {
    font-variant: small-caps;
  }
  .truncate-mediaM {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-large) {
  
  .measure-mediaL,
  .maxwidth-measure-mediaL {
    max-width: var(--measure, 66ch);
  }
  .measure-wide-mediaL,
  .measurewide-mediaL,
  .maxwidth-measurewide-mediaL {
    max-width: var(--measure-wide, 80ch);
  }
  .measure-narrow-mediaL,
  .measurenarrow-mediaL,
  .maxwidth-measurenarrow-mediaL {
    max-width: var(--measure-narrow, 45ch);
  }
  .indent-mediaL,
  .textindent-1-mediaL {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-mediaL,
  .smallcaps-mediaL,
  .fontvariant-smallcaps-mediaL  {
    font-variant: small-caps;
  }
  .truncate-mediaL {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (--breakpoint-xlarge) {
  
  .measure-mediaXL,
  .maxwidth-measure-mediaXL {
    max-width: var(--measure, 66ch);
  }
  .measure-wide-mediaXL,
  .measurewide-mediaXL,
  .maxwidth-measurewide-mediaXL {
    max-width: var(--measure-wide, 80ch);
  }
  .measure-narrow-mediaXL,
  .measurenarrow-mediaXL,
  .maxwidth-measurenarrow-mediaXL {
    max-width: var(--measure-narrow, 45ch);
  }
  .indent-mediaXL,
  .textindent-1-mediaXL {
    text-indent: 1em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .small-caps-mediaXL,
  .smallcaps-mediaXL,
  .fontvariant-smallcaps-mediaXL  {
    font-variant: small-caps;
  }
  .truncate-mediaXL {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
