/*

   UTILITIES

*/

.center,
.marginhorizontal-auto {
  margin-right: auto;
  margin-left: auto;
}
.marginright-auto {
  margin-right: auto;
}
.marginleft-auto {
  margin-left: auto;
}

@media (--breakpoint-small){
  .center-mediaS,
  .marginhorizontal-auto-mediaS {
    margin-right: auto;
    margin-left: auto;
  }
  .marginright-auto-mediaS {
    margin-right: auto;
  }
  .marginleft-auto-mediaS {
    margin-left: auto;
  }
}

@media (--breakpoint-medium){
  .center-mediaM, 
  .marginhorizontal-auto-mediaM {
    margin-right: auto;
    margin-left: auto;
  }
  .marginright-auto-mediaM {
    margin-right: auto;
  }
  .marginleft-auto-mediaM {
    margin-left: auto;
  }
}

@media (--breakpoint-large){
  .center-mediaL, 
  .marginhorizontal-auto-mediaL {
    margin-right: auto;
    margin-left: auto;
  }
  .marginright-auto-mediaL {
    margin-right: auto;
  }
  .marginleft-auto-mediaL {
    margin-left: auto;
  }
}

@media (--breakpoint-xlarge){
  .center-mediaXL, 
  .marginhorizontal-auto-mediaXL {
    margin-right: auto;
    margin-left: auto;
  }
  .marginright-auto-mediaXL {
    margin-right: auto;
  }
  .marginleft-auto-mediaXL {
    margin-left: auto;
  }
}