/*

   VISIBILITY

   Text that is hidden but accessible
   Ref: https://accessibility.18f.gov/hidden-content/
   Ref: https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/

*/

.clip,
.sr-only,
.screen-reader-text {
  border: 0; 
  clip: rect(0 0 0 0); 
  height: 1px; 
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media (--breakpoint-small) {
  .clip-mediaS,
  .sr-only-mediaS,
  .screen-reader-text-mediaS {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (--breakpoint-medium) {
  .clip-mediaM,
  .sr-only-mediaM,
  .screen-reader-text-mediaM {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

@media (--breakpoint-large) {
  .clip-mediaL,
  .sr-only-mediaL,
  .screen-reader-text-mediaL {
    border: 0; 
    clip: rect(0 0 0 0); 
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}