/*

   WHITE SPACE

*/


.whitespace-normal    { white-space: normal; }
.whitespace-nowrap  { white-space: nowrap; }
.whitespace-pre     { white-space: pre; }

@media (--breakpoint-small) {
  .whitespace-normal-mediaS    { white-space: normal; }
  .whitespace-nowrap-mediaS  { white-space: nowrap; }
  .whitespace-pre-mediaS     { white-space: pre; }
}

@media (--breakpoint-medium) {
  .whitespace-normal-mediaM    { white-space: normal; }
  .whitespace-nowrap-mediaM  { white-space: nowrap; }
  .whitespace-pre-mediaM     { white-space: pre; }
}

@media (--breakpoint-large) {
  .whitespace-normal-mediaL    { white-space: normal; }
  .whitespace-nowrap-mediaL  { white-space: nowrap; }
  .whitespace-pre-mediaL     { white-space: pre; }
}

@media (--breakpoint-xlarge) {
  .whitespace-normal-mediaXL    { white-space: normal; }
  .whitespace-nowrap-mediaXL  { white-space: nowrap; }
  .whitespace-pre-mediaXL     { white-space: pre; }
}

