/*

   WHITE SPACE

*/


.whitespace-normal    { white-space: normal; }
.whitespace-nowrap  { white-space: nowrap; }
.whitespace-pre     { white-space: pre; }

@media (--breakpoint-not-small) {
  .whitespace-normal-ns    { white-space: normal; }
  .whitespace-nowrap-ns  { white-space: nowrap; }
  .whitespace-pre-ns     { white-space: pre; }
}

@media (--breakpoint-medium) {
  .whitespace-normal-m    { white-space: normal; }
  .whitespace-nowrap-m  { white-space: nowrap; }
  .whitespace-pre-m     { white-space: pre; }
}

@media (--breakpoint-large) {
  .whitespace-normal-l    { white-space: normal; }
  .whitespace-nowrap-l  { white-space: nowrap; }
  .whitespace-pre-l     { white-space: pre; }
}

