/*

   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Modifiers
     -third = 100% / 3 (Not supported in opera mini or IE8)
     -twothirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto  = string value auto

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

/* Size variables */
:root {
  --xxxsmall: 0.0625rem;
  --xxsmall: 0.125rem;
  --xsmall: 0.25rem;
  --small: 0.5rem;
  --medium: 1rem;
  --large: 2rem;
  --xlarge: 4rem;
  --xxlarge: 8rem;
  --xxxlarge: 16rem;
}

/* Width Scale */

.width-xxxsmall { width: var(--xxxsmall); }
.width-xxsmall { width: var(--xxsmall); }
.width-xsmall { width: var(--xsmall); }
.width-small { width: var(--small); }
.width-medium {  width: var(--medium); }
.width-large {  width: var(--large); }
.width-xlarge {  width: var(--xlarge); }
.width-xxlarge {  width: var(--xxlarge); }
.width-xxxlarge {  width: var(--xxxlarge); }

.width-third { width: calc(100% / 3); }
.width-twothirds { width: calc(100% / 1.5); }
.width-auto { width: auto; }

.width-10p { width:  10%; }
.width-20p { width:  20%; }
.width-25p { width:  25%; }
.width-30p { width:  30%; }
.width-33p { width:  33%; }
.width-34p { width:  34%; }
.width-40p { width:  40%; }
.width-50p { width:  50%; }
.width-60p { width:  60%; }
.width-70p { width:  70%; }
.width-75p { width:  75%; }
.width-80p { width:  80%; }
.width-90p { width:  90%; }
.width-100p { width: 100%; }

@media (--breakpoint-not-small) {
  .width-xxxsmall-ns { width: var(--xxxsmall); }
  .width-xxsmall-ns { width: var(--xxsmall); }
  .width-xsmall-ns { width: var(--xsmall); }
  .width-small-ns { width: var(--small); }
  .width-medium-ns {  width: var(--medium); }
  .width-large-ns {  width: var(--large); }
  .width-xlarge-ns {  width: var(--xlarge); }
  .width-xxlarge-ns {  width: var(--xxlarge); }
  .width-xxxlarge-ns {  width: var(--xxxlarge); }
  .width-10p-ns { width:  10%; }
  .width-20p-ns { width:  20%; }
  .width-25p-ns { width:  25%; }
  .width-30p-ns { width:  30%; }
  .width-33p-ns { width:  33%; }
  .width-34p-ns { width:  34%; }
  .width-40p-ns { width:  40%; }
  .width-50p-ns { width:  50%; }
  .width-60p-ns { width:  60%; }
  .width-70p-ns { width:  70%; }
  .width-75p-ns { width:  75%; }
  .width-80p-ns { width:  80%; }
  .width-90p-ns { width:  90%; }
  .width-100p-ns { width: 100%; }
  .width-third-ns { width: calc(100% / 3); }
  .width-twothirds-ns { width: calc(100% / 1.5); }
  .width-auto-ns { width: auto; }
}

@media (--breakpoint-medium) {
  .width-xxxsmall-m { width: var(--xxxsmall); }
  .width-xxsmall-m { width: var(--xxsmall); }
  .width-xsmall-m { width: var(--xsmall); }
  .width-small-m { width: var(--small); }
  .width-medium-m {  width: var(--medium); }
  .width-large-m {  width: var(--large); }
  .width-xlarge-m {  width: var(--xlarge); }
  .width-xxlarge-m {  width: var(--xxlarge); }
  .width-xxxlarge-m {  width: var(--xxxlarge); }
  .width-10p-m { width:  10%; }
  .width-20p-m { width:  20%; }
  .width-25p-m { width:  25%; }
  .width-30p-m { width:  30%; }
  .width-33p-m { width:  33%; }
  .width-34p-m { width:  34%; }
  .width-40p-m { width:  40%; }
  .width-50p-m { width:  50%; }
  .width-60p-m { width:  60%; }
  .width-70p-m { width:  70%; }
  .width-75p-m { width:  75%; }
  .width-80p-m { width:  80%; }
  .width-90p-m { width:  90%; }
  .width-100p-m { width: 100%; }
  .width-third-m { width: calc(100% / 3); }
  .width-twothirds-m { width: calc(100% / 1.5); }
  .width-auto-m {    width: auto; }
}

@media (--breakpoint-large) {
  .width-xxxsmall-l { width: var(--xxxsmall); }
  .width-xxsmall-l { width: var(--xxsmall); }
  .width-xsmall-l { width: var(--xsmall); }
  .width-small-l { width: var(--small); }
  .width-medium-l {  width: var(--medium); }
  .width-large-l {  width: var(--large); }
  .width-xlarge-l {  width: var(--xlarge); }
  .width-xxlarge-l {  width: var(--xxlarge); }
  .width-xxxlarge-l {  width: var(--xxxlarge); }
  .width-10p-l {    width:  10%; }
  .width-20p-l {    width:  20%; }
  .width-25p-l {    width:  25%; }
  .width-30p-l {    width:  30%; }
  .width-33p-l {    width:  33%; }
  .width-34p-l {    width:  34%; }
  .width-40p-l {    width:  40%; }
  .width-50p-l {    width:  50%; }
  .width-60p-l {    width:  60%; }
  .width-70p-l {    width: 70%;  }
  .width-75p-l {    width:  75%; }
  .width-80p-l {    width:  80%; }
  .width-90p-l {    width:  90%; }
  .width-100p-l {   width: 100%; }
  .width-third-l { width: calc(100% / 3); }
  .width-twothirds-l { width: calc(100% / 1.5); }
  .width-auto-l {    width: auto; }
}
