/*

  WORD BREAK

*/

.wordbreak-normal { word-break: normal; }
.wordbreak-wrap, .wordbreak-breakall { word-break: break-all; }
.wordbreak-nowrap, .wordbreak-keepall { word-break: keep-all; }

@media (--breakpoint-small) {
  .wordbreak-normal-mediaS { word-break: normal; }
  .wordbreak-wrap-mediaS, .wordbreak-breakall-mediaS { word-break: break-all; }
  .wordbreak-nowrap-mediaS, .wordbreak-keepall-mediaS { word-break: keep-all; }
}

@media (--breakpoint-medium) {
  .wordbreak-normal-mediaM { word-break: normal; }
  .wordbreak-wrap-mediaM, .wordbreak-breakall-mediaM { word-break: break-all; }
  .wordbreak-nowrap-mediaM, .wordbreak-keepall-mediaM { word-break: keep-all; }
}

@media (--breakpoint-large) {
  .wordbreak-normal-mediaL { word-break: normal; }
  .wordbreak-wrap-mediaL, .wordbreak-breakall-mediaL { word-break: break-all; }
  .wordbreak-nowrap-mediaL, .wordbreak-keepall-mediaL { word-break: keep-all; }
}

@media (--breakpoint-xlarge) {
  .wordbreak-normal-mediaXL { word-break: normal; }
  .wordbreak-wrap-mediaXL, .wordbreak-breakall-mediaXL { word-break: break-all; }
  .wordbreak-nowrap-mediaXL, .wordbreak-keepall-mediaXL { word-break: keep-all; }
}