/*
  Tachyons
  z-index
  DOCUMENTATION
  MDN: https://developer.mozilla.org/en/docs/Web/CSS/z-index
  Spec: http://www.w3.org/TR/CSS2/zindex.html
  Tips on extending:
  There might be a time worth using negative z-index values.
  Or if you are using tachyons with another project, you might need to
  adjust these values to suit your needs.
*/

.zindex-0 { z-index: 0; }
.zindex-1 { z-index: 1; }
.zindex-2 { z-index: 2; }
.zindex-3 { z-index: 3; }
.zindex-4 { z-index: 4; }
.zindex-5 { z-index: 5; }

.zindex-999 { z-index: 999; }
.zindex-9999 { z-index: 9999; }

.zindex-max {
  z-index: 2147483647;
}

.zindex-inherit { z-index: inherit; }
.zindex-initial { z-index: initial; }
.zindex-unset { z-index: unset; }
